<div class="jumbotron">
	<table class="table">
		<thead>
			<tr>
				<th><h4 class="cpjnm"> </h4></th>
			</tr>
		</thead>
		<tr>
			<td>
				<ul>
					<li>
						<div class="leftCondition">
							<div><small>급여</small></div>
							<strong><span class="cpjmAvg"> </span>만원</strong>
						</div>
					</li>
					<li>
						<div>
							<div><small>진행기간</small></div>
							<strong><span class="cpjDuration"> </span>일</strong>
						</div>
					</li>
				</ul>
			</td>
		</tr>
		<tr class="underLine">
			<td>
				<ul>
					<li>
						<div class="leftCondition">
							<div><small>근무형태</small></div>
							<strong class="cpjwt"> </strong>
						</div>
					</li>
					<li>
						<div>
							<div><small>경력</small></div>
							<strong><span class="cpjyr"> </span>년</strong>
						</div>
					</li>
				</ul>
			</td>
		</tr>
		<tr class="underLine">
			<td>
				<div><small>필요기술</small></div>
				<div class="skillList">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div>
					<small>
						공고마감일시 : <span class="remainDate"><span class="cpjrdGap"> </span>일 남음</span>
						<span>(<span class="cpjred">2016-10-11</span> 까지)</span>
					</small>
				</div>
			</td>
		</tr>
	</table>
</div>

<script>
$('.jumbotron').css( 'cursor', 'pointer' );
</script>