<div class="col-md-4">
  <table class="table" style="width: 100%; border: 2px solid black;">
	<thead>
		<tr>
			<td colspan="2" style="padding-left: 1em; padding-right: 1em;">
				<span class="glyphicon glyphicon-th-large" style="color: black;"></span><br>
				<h4 style="margin-top: 0.5em;">
					<div class="cpjnm text-center" style="color: black;"></div>
				</h4>
			</td>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">
				<div>
					<small>
						공고마감일시 :<span class="remainDate"><span class="cpjrdGap" style="color: red;"> </span>일 남음</span>
						<span>(<span class="cpjred">2016-10-11</span> 까지)</span>
					</small>
				</div>
			</td>
		</tr>
	</tfoot>
		<tr>
			<td>
				<div class="leftCondition">
					<div><small>급여</small></div>
					<strong><span class="cpjmAvg"></span>만원</strong>
				</div>
			</td>
			<td>
				<div>
					<div><small>진행기간</small></div>
					<strong><span class="cpjDuration"> </span>일</strong>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="leftCondition">
					<div><small>근무형태</small></div>
					<strong class="cpjwt"> </strong>
				</div>
			</td>
			<td>
				<div>
					<div><small>요구 경력</small></div>
					<strong><span class="cpjyr"> </span>년 이상</strong>
				</div>
			</td>
		</tr>
  </table>	
</div>