<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.css" rel="stylesheet"/>
	
	<link rel="stylesheet" href="/view/common/login/css/frame.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
	
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
	
	<style>
		.adp{
			background-color: #5ab97e;
			width: 100%;
			padding: 0em 1em 1em 4em;
			color: white;
		}
		.adc{
			margin-left: 10em;
		}
	</style>
</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<!--사이드바 시작-->
			<div class="col-sm-2 sidenav"></div>
			<!--사이드바 끝-->
				<!-- 본문입력 시작 -->
				<div class="col-md-8 text-left main">
					<div class="table-responsive adc">
	                    <table class="table table-bordered table-striped nanum" style="width:80%;">
	                       <tbody>
	                       <tr>
			                   <thead>
			                   	  <td>
				                     <div class="col-md-12 adp">
				                          <h1>프로젝트 등록</h1> 상세하게 작성해 주실수록 더 많은 지원자에게 노출됩니다.
				                     </div>
			                       </td>
			                   </thead>
		                   </tr>
		                   <tr> 
	                        	<td><h3>프로젝트 주제</h3>
								<input type="text" id="cpjnm" style="height:50px; width:80%" placeholder="프로젝트 주제를 입력하세요."></td>
						   </tr>
						   <tr>
						   		<td><h3>예상 기간</h3>
						   	   	시작날짜 <input id="fromDate" type="text">
								종료날짜 <input id="toDate" type="text">
						   		</td>
						   </tr>
						   <tr>		 	
						  		<td><h3>프로젝트 설명</h3>
								<textarea name="content" id="cpjnm" rows="15" cols="60" placeholder="프로젝트를 설명해주세요."></textarea></td>	
	                       </tr>
		                   <tr>
		                   		<td><h3>요구되는 기술</h3>
		                   		기술명 <input type="text">
		                   		</td>   
		                   </tr>
		                   <tr>
		                   		<td>
		                   		<button type="button" class="btn btn-default">임시저장</button> 
								<button type="button" class="btn btn-primary">등록</button> 	 
								 </td>
		                   </tr>
		                                      
	                      </tbody>
	                       
						</table>
					</div>
				</div>
			<!--사이드바 시작-->
			<div class="col-sm-2 sidenav"></div>
			<!--사이드바 끝-->
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
	$(function(){
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
		
		$('#fromDate').datepicker({
			  language : 'ko', // 화면에 출력될 언어를 한국어로 설정한다.
			  pickTime : false, // 사용자로부터 시간 선택을 허용하려면 true를 설정하거나 pickTime 옵션을 생략한다.
			  defalutDate : new Date() // 기본값으로 오늘 날짜를 입력한다. 기본값을 해제하려면 defaultDate 옵션을 생략한다.
			});

		$('#toDate').datepicker({
			  language : 'ko',
			  pickTime : false,
			  defalutDate : new Date()
			});
	});
	
	
	
</script>

</html>