<tr class="eachProject">
	<td class="projectImg" align="center">
		<img src="img/spring.jpg">
	</td>
	<td class="projectDesc">
		<dl>
			<dd>
				<a href="" class="table-cpjnm" style="font-size: 20px;">Ux / UI Designer</a>
			</dd>
			<dd>
				<a href="" class="table-cnm"> </a>
			</dd>
			<dd><span class="table-cpjar"> </span>, <span class="table-cpjed"> </span></dd>
			<dd>급여 : <span class="table-cpjmnp"> </span>~<span class="table-cpjmap"> </span></dd>
				<div class="list-detail">
					<dd>  <span class="table-cpjwt"> </span></dd>
					<dd><span class="table-cpjint"> </span></dd>
				</div>
			<dd>
				<a href="">비슷한 회사</a>
			</dd>
		</dl>
	</td>
	<td class="projectButton" valign="middle">
		<input class="list-detail-btn" type="checkbox" checked data-toggle="toggle"
			data-size="small" data-on="미리보기" data-off="접기">
	</td>
</tr>
