<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/view/common/login/css/frame.css">


<!-- bootstrap toggle -->
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.1/js/bootstrap-toggle.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.1/css/bootstrap-toggle.min.css"
	rel="stylesheet">
<!-- bootstrap toggle end-->

<style>
.list-detail {
	display: none;
}

.ui-autocomplete {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px; . ui-menu-item > a.ui-corner-all { display :
	block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap; &. ui-state-hover , &.ui-state-active { color :
	#ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
	}
	}
}

.ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus,
	.ui-menu .ui-menu-item a.ui-corner-all:active {
		background: #ff8a00 !important;
		color: #000;
		border-radius: 0;
	}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
		background: #ff8a00;
		border: none;
		color: #000;
		border-radius: 0
	}

.tag {
		display: inline-block;
		background-color: rgb(230, 230, 230);
		margin-right: 5px;
		margin-bottom: 5px;
	}

.fold-list {
	display: none;
}

.projectImg {
	width: 20%;
}

.projectDesc {
	width: 70%;
}

.projectButton {
	width: 10%;
}
</style>
</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav"></div>
			<div class="col-md-8 text-left main">
				<!--페이지 중앙 본문 중 좌측 메뉴-->
				<div class="col-md-3 side-menu" style="padding: 0px;">
					<table class="table table-hover">
						<tr>
							<td><strong>지역</strong>
								<div class="toggleDiv" style="float: right;">
									<input type="checkbox" class="fold" data-toggle="toggle"
										data-size="mini" data-onstyle="default" data-on="펴기"
										data-off="접기" checked="false">
								</div>
								<div class="fold-list cpjar-list"
									style="margin-left: 20px; font-size: 12px;"
									style="display:none;">
									<div class="checkbox">
										<input type="checkbox" class="cpjar-check" value="46">
										<p class="cpjar-option">대한민국 경기 성남</p>
									</div>

									<div class="checkbox">
										<input type="checkbox" class="cpjar-check" value="45">
										<p class="cpjar-option">대한민국 서울 강남</p>
									</div>
									<div class="checkbox">
										<input type="checkbox" class="cpjar-check" value="47">
										<p class="cpjar-option">대한민국 서울 서초</p>
									</div>
								</div></td>
						</tr>
						<tr>
							<td><strong>사용API</strong>
								<div class="toggleDiv" style="float: right;">
									<input type="checkbox" class="fold pull-right"
										data-toggle="toggle" data-size="mini" data-onstyle="default"
										data-on="펴기" data-off="접기" checked="false">
								</div>
								<div class="fold-list api-list">
									<input type="text" id="search-api"
										placeholder="ex) java, servlet">
								</div></td>
						</tr>
						<tr>
							<td><strong>급여</strong>
								<div class="toggleDiv" style="float: right;">
									<input type="checkbox" class="fold pull-right"
										data-toggle="toggle" data-size="mini" data-onstyle="default"
										data-on="펴기" data-off="접기" checked="false">
								</div>
								<div class="fold-list cpjm-list">
									<input type="text" id="cpjmnp" size="5"> ~ <input
										type="text" id="cpjmap" size="5"> 만원
									<button type="button" class="btn btn-default btn-xs"
										style='float: right;'>추가</button>
								</div></td>
						</tr>
						<tr>
							<td><strong>경력연차</strong>
								<div class="toggleDiv" style="float: right;">
									<input type="checkbox" class="fold pull-right"
										data-toggle="toggle" data-size="mini" data-onstyle="default"
										data-on="펴기" data-off="접기" checked="false">
								</div> <select class="form-control input-sm fold-list" id="cpjyr">
									<option>무관</option>
									<option>1년</option>
									<option>2년</option>
									<option>3년</option>
									<option>4년</option>
									<option>5년이상</option>
							</select></td>
						</tr>
					</table>
				</div>
				<!--페이지 중앙 본문 중 좌측 끝-->
				<div class="col-md-9">
					<!--페이지 중앙 본문 중 우측 본문 판낼-->
					<table class="table table-strpied"
						style="table-layout: fixed; width: 100%; word-break: break-all;">
						<!--검색 태그-->
						<tr>
							<td id="input-tag"></td>
						</tr>
						<!-- 검색태그 끝-->
					</table>
					<table class="table table-strpied">
						<tr>
							<td class="projectImg" align="center"><img
								src="img/spring.jpg"></td>
							<td class="projectDesc">
								<dl>
									<dd>
										<a href="" style="font-size: 20px;">Ux / UI Designer</a>
									</dd>
									<dd>
										<a href="">SK Telecom</a>
									</dd>
									<dd>Korea, 2016년 3월 21</dd>
									<dd>급여 : 300~400</dd>
									<div class="list-detail">
										<dd>근무형태 : 상주</dd>
										<dd>윈도우 마이그레이션 관련 프로젝트 구인</dd>
									</div>
									<dd>
										<a href="">비슷한 회사</a>
									</dd>
								</dl>
							</td>
							<td class="projectButton" valign="middle"><input
								class="list-detail-btn" type="checkbox" checked
								data-toggle="toggle" data-size="small" data-on="미리보기"
								data-off="접기"></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>
					<!--페이지 중앙 본문 중 우측 본문 판넬 끝-->
				</div>
				<!--페이지 중앙 본문 중 우측 본문 끝-->
			</div>
			<div class="col-sm-2 sidenav"></div>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
    var search={cpjar:[],cpjsk:[],cpjmnp,cpjmap,cpjyr};
    
	$(function() {
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	});

	//검색 태그 추가 function
	var addSearchTag = function(cls ,text, color) {
		color="default";
		var tagDelete = $("<a></a>").addClass('tag-delete').text(' X');
		$('#input-tag').append(
				$("<button></button>").addClass('btn tag btn-sm btn-' + color).addClass(cls).text(text).append(tagDelete));
		//검색 태그 삭제
		$('.tag-delete').click(function() {
			var tag = $(this).parent('button');
			if(tag.hasClass('cpjar-tag')){//지역태그 삭제
				var arr = $.makeArray(search.cpjar);
				$.map(arr,function(val,i){
					if(tag.text().indexOf(val)!=-1){//해당태그가 맞다면
						search.cpjar.splice(i,1);
					}
				});
			}else if(tag.hasClass('api-tag')){//api태그삭제
				var arr = $.makeArray(search.cpjsk);
				$.map(arr,function(val,i){
					if(tag.val()==val){//해당태그가 맞다면
						search.cpjsk.splice(i,1);
					}
				});
			}else if(tag.hasClass('cpjm-tag')){//급여태그삭제
				var arr = $.makeArray(search.cpjsk);
				$.map(arr,function(val,i){
					if(tag.text().indexOf(val.label)!=-1){//해당태그가 맞다면
						search.cpjsk.splice(i,1);
					}
				});
			}else if(tag.hasClass('cpjyr-tag')){//경력태그삭제
				var arr = $.makeArray(search.cpjsk);
				$.map(arr,function(val,i){
					if(tag.text().indexOf(val.label)!=-1){//해당태그가 맞다면
						search.cpjsk.splice(i,1);
					}
				});
			}
			$(this).parent().remove();
		});
		//검색 태그 삭제 끝
		$('#search-api').val('');
	}
	//검색 태그 추가 function 끝

	$(document).on('frameComplete',function(event){
        search.cpjmnp=null;
        search.cpjmap=null;
        search.cpjyr=null;
        //검색 자동완성
                $('#search-api').autocomplete({
                    source: function(req,res){
                        $.ajax({
                            type:'post',
                            url: nodeContextRoot+"/skillCheck",
                            dataType : "json",
                            data :  '{"sknm" : "'+req.term+'"}',
                            headers : {
        						"Accept" : "application/json",
        						"Content-Type" : "application/json"
        					},
                            success:function(data){
                                res($.map(data, function(item, i){
                                		return {
	                                        label : item.SKNM,
	                                        value : item.SKNO
	                                    }
	                                })
	                            );
                            }
                        });
                    },
                    minLength:2,
                    select: function(event,ui){
                    	//중복체크
                    	var bool=true;
                       	$.map($.makeArray(search.cpjsk),function(val,i){
                       		if(val==ui.item.value){
                       			bool=false;
                       			return;
                       		}
                       	});
                       	event.preventDefault();
                       	$('#search-api').val('');
                       	if(!bool) {
                       		callModal('경고','검색 조건 중복입니다.');
                       		return;
                       	}
                       	//중복체크 끝
                       	addSearchTag('api-tag',ui.item.label,'danger');//사용자 정의 function
                       	$('.api-tag').last().val(ui.item.value);
                        search.cpjsk.push(ui.item.value);
					}
                }).autocomplete("widget").addClass("fixed-height");;
        //검색 자동완성 끝

        //좌측메뉴접기
        $('.fold').change(function() {
            var submenu = $(this).parent().parent().next('.fold-list');
            console.log(submenu.text());
            if (!$(this).is(":checked")) {
                submenu.slideDown();
            } else if($(this).is(":checked")){
                submenu.slideUp();
            }
        });
        //좌측메뉴펴기

        //cpjar검색 태그 추가
        $('.cpjar-check').click(function() {
            var cpjarText = $(this).next('.cpjar-option').text();//클릭된 cpjar의 검색 text
            if($(this).is(":checked")){ //check했을 때
                addSearchTag('cpjar-tag', cpjarText, 'primary');//사용자 정의 function
                search.cpjar.push(cpjarText);
                $('.tag-delete').click(function() {
                            var deleteTag = $(this).parent('button').text().split(' X')[0];
                            $('.cpjar-option:contains('+ deleteTag + ')').prev().prop('checked', false);
                });
            }else{//check풀렸을 때
            	var arr = $.makeArray(search.cpjar);
				$.map(arr,function(val,i){
					if(cpjarText.indexOf(val)!=-1){//해당태그가 맞다면
						search.cpjar.splice(i,1);
					}
				});
            	$('.cpjar-tag').remove(':contains("'+cpjarText+'")');
            }
        });
        //cpjar검색 태그 추가 끝

        //아래 한줄은 옆에 비어있는 공간 높이 채우기
        $('.row.content').css('height', $('.main').height());

        //sub 상단바 시작
        $('.dropdown').hover(
                function() {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn();
                },
                function() {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut();
                });
        //sub 상단바 끝
        
    });
    
    //list detail
    $('.list-detail-btn').change(function(){
        var detailDiv = $('.list-detail-btn').closest('tr').find('.list-detail');
        detailDiv.slideToggle('slow');
    });
    //list detail 끝
    
    //급여조건추가(cpjm)
    $('.cpjm-list button').click(function(){
        search.cpjmnp = $('#cpjmnp').val();
        search.cpjmap = $('#cpjmap').val();
        if(search.cpjmnp<=0 || search.cpjmap<=0){//값이 비어있을 때
            callModal('경고','금액을 정확히 입력해주세요');
        } else {//값이 있을 때
            if($('.cpjm-tag')){
                $('.cpjm-tag').remove();
            }
            addSearchTag('cpjm-tag',search.cpjmnp+'~'+search.cpjmap+'만원','success');
        }
        $('#cpjmnp').val('');
        $('#cpjmap').val('');
    });
    //급여조건추가(cpjm) 끝
    
    //경력추가
    $('#cpjyr').change(function(){
        search.cpjyr=$('#cpjyr option:selected').val().split('년')[0];
        if($('.cpjyr-tag')){
            $('.cpjyr-tag').remove();
        }
		addSearchTag('cpjyr-tag',search.cpjyr+'년','success');
		console.log(JSON.stringify(search));
		$.ajax({
            type:'post',
            url: contextRoot+"/developer/projectList",
            dataType : "json",
            headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
            data : JSON.stringify(search),
            success:function(data){
                console.log(data);
            }
        });
	});
    //경력추가 끝
</script>

</html>