<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- jquery ui -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- jquery ui end-->
    
    <!--  jqplot cdn-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css" />
    <!-- jqplot cdn end-->
    
    <!-- bootstrap toggle -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.1/js/bootstrap-toggle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.1/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- bootstrap toggle end-->

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        
        .row.content {
            height: 1000px
        }
        /* Set gray background color and 100% height */
        
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }
        /* Set black background color, white text and some padding */
        
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
        /* On small screens, set height to 'auto' for sidenav and grid */
        
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {
                height: auto;
            }
        }
        
        .main {
            padding-top: 100px;
        }
        
        .navbar-item {
            color: white;
        }
        
        .nav-tabs {
            background: black;
        }
        
        .nav-sub {
            padding: 0px;
            background: black;
            line-height: 1px;
            font-size: 13px
        }
        
        .progress {
            margin: 10px;
        }
        
        .sidejob {
            padding-bottom: 10px;
        }
        
        .region-option {
            margin: 0px;
        }
        
        .tag-delete {
            color: white;
            font-size: 1em;
        }
    </style>
</head>

<body>
    <!--상단바 시작-->
    <div class="navbar-fixed-top">
        <!--첫번 상단바 시작-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SpringJobs</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <form class="navbar-form navbar-left" role="search">
                        <div class="btn-group">
                            <!-- option button -->
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                검색방법 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">사람</a></li>
                                <li><a href="#">기업</a></li>
                                <li><a href="#">사용API</a></li>
                                <li class="divider"></li>
                                <li><a href="#">기타</a></li>
                            </ul>
                        </div>
                        <!-- option button end-->

                        <div class="form-group ">
                            <input type="text" class="form-control" placeholder="Search" size="45">
                        </div>
                        <button type="submit" class="btn btn-default"><strong>Search</strong></button>
                    </form>

                    <form class="form-inline navbar-form">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword3">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> <font color="A7A7A7">Remember me</font>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Sign up</button>

                    </form>

                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container-fluid -->
        </nav>


        <!-- sub상단바-->
        <div class="col-md-12 nav-sub parent">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <ul class="nav nav-pills">

                    <li role="presentation" class="dropdown">
                        <a href="#" class="navbar-item">이력관리</a>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="#" class="navbar-item">채용정보</a>
                    </li>

                    <li role="presentation" class="dropdown">
                        <a href="#" class="navbar-item">프로젝트</a>
                        <ul id="dropdown-menu" class="dropdown-menu" role="menu">
                            <li><a href='developer_project_list.html'>프로젝트 리스트</a></li>
                            <li><a href='#'>참여중인 프로젝트</a></li>
                        </ul>
                    </li>

                    <li role="presentation" class="dropdown pull-right">
                        <a href="#" class="navbar-item">SpringJobs소개</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- sub상단바 끝-->
    </div>
    <!-- 상단바 완전 끝-->

    <!--본문 시작-->
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-md-1 sidenav">
                <!--페이지 좌측 여백-->
            </div>
            <!--페이지 중앙 본문 시작-->
            <div class="col-md-10 text-left main">
                <!--페이지 중앙 본문 중 좌측 메뉴-->
                <div class="col-md-2 side-menu" style="padding:0px;">
                    <table class="table table-hover">
                        <tr>
                            <td>
                                <strong>지역</strong>
                                <input type="checkbox" class="fold" data-toggle="toggle" data-size="mini" data-onstyle="default" data-on="펴기" data-off="접기">
                                <div class="fold-list region-list" style="margin-left:20px;font-size:12px;">
                                        <div class="checkbox">
                                            <input type="checkbox" class="region-check">
                                            <p class="region-option">대한민국 경기 성남</p>
                                        </div>
                                
                                        <div class="checkbox">
                                            <input type="checkbox" class="region-check">
                                            <p class="region-option">대한민국 서울 강남</p>
                                        </div>
                                        <div class="checkbox">
                                            <input type="checkbox" class="region-check">
                                            <p class="region-option">대한민국 서울 서초</p>
                                        </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>사용API</strong>
                                <input type="checkbox" class="fold pull-right" data-toggle="toggle" data-size="mini" data-onstyle="default" data-on="펴기" data-off="접기" >
                                <div class="fold-list api-list">
                                    <input type="text" id="search-api" placeholder="Text input">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <!--페이지 중앙 본문 중 좌측 끝-->
                <div class="col-md-10">
                    <!--페이지 중앙 본문 중 우측 본문 판낼-->
                    <table class="table table-strpied" style="table-layout:fixed;">
                        <!--검색 태그-->
                        <tr>
                            <td id="input-tag" style="word-break:break-all;"> </td>
                        </tr>
                        <!-- 검색태그 끝-->
                        <tr>
                            <td>
                                <div style="display:inline-block;width:80%;vertical-align:middle;">
                                    <input style="float:left;" type="image" src="img/spring.jpg">
                                    <a href="#" style="font-size:20px;">Ux / UI Designer</a><br>
                                    <a href="#">SK Telecom</a><br>
                                    Korea, 2016년 3월 21<br>
                                    <a href="#">비슷한 회사</a><br>
                                </div>
                                
                                <div style="display:inline-block">
                                    <input type="checkbox" checked data-toggle="toggle" data-size="small">
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                fdsf
                            </td>
                        </tr>
                    </table>
                    <!--페이지 중앙 본문 중 우측 본문 판넬 끝-->
                </div>
                <!--페이지 중앙 본문 중 우측 본문 끝-->

            </div>
            <!--페이지 중앙 본문 끝-->
            <div class="col-md-1 sidenav">
                <!--페이지 우측 여백-->
            </div>
        </div>
        <script>
            //검색 태그 추가 function
            function addSearchTag(text,color){
                var tagDelete = $("<a></a>").addClass('tag-delete').text(' X');
                $('#input-tag').append($("<span></span>").addClass('label label-'+color).text(text).append(tagDelete));
                //검색 태그 삭제
                ////////////////추후 ready에도 넣어줘야됨
                $('.tag-delete').click(function() {
                    $(this).parent().remove();
                });
                //검색 태그 삭제 끝
                $('#search-api').val('');
            }
            //검색 태그 추가 function 끝

            $(document).ready(function() {
                //검색 자동완성
                $('#search-api').autocomplete({
                    source: function(req,res){
                        $.ajax({
                            type:'post',
//                            url:"http://192.168.0.57:8080/Spring/test.jsp",
                            url:"http://52.79.155.246:8080/Spring/test.jsp",
                            dataType : "json",
                            data : { value : req.term },
                            success:function(data){
                                res($.map(data, function(item){
                                    return {
                                        label : item.data,
                                        value : item.data
                                    }
                                })
                            );
                            }
                        });
                    },
                    minLength:3,
                    select: function(event,ui){
                        addSearchTag(ui.item.value,'danger');//사용자 정의 function
                    }
                });
                //검색 자동완성 끝
                
                //region 숨기기
                $('.fold').change(function() {
                    var submenu = $(this).parent().next(".fold-list");
                    if (submenu.is(":visible")) {
                        submenu.slideUp();
                    } else {
                        submenu.slideDown();
                    }
                });
                //region 숨기기 끝

                //검색 태그 추가
                $('.region-check').click(function() {
                    addSearchTag($(this).next('.region-option').text(),'primary');//사용자 정의 function
                    $('.tag-delete').click(function() {
                        var deleteTag = $(this).parent('span').text().split(' X')[0];
                        $('.region-option:contains('+deleteTag+')').prev().prop('checked',false);
                    });
                });
                //검색 태그 추가 끝
                
                //아래 한줄은 옆에 비어있는 공간 높이 채우기
                $('.row.content').css('height', $('.main').height());
                console.log($('.main').height());


                //sub 상단바 시작
                $('.dropdown').hover(function() {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn();
                }, function() {
                    $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut();
                });
                //sub 상단바 끝
            });
        </script>
</body>

</html>