<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/view/common/login/css/frame.css">
</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav"></div>
			<div class="col-md-8 text-left main">
		<!-- 본문입력란 -->
	<form id=getJobTable>
				
			<div id="recnm"> </div>
			<div id="reed"> </div>
				
																		 <span class="input center-block">
						  <button type="button" class="btn btn-success btn-sm" id="join">등록</button>
						           
						  <button type="button" class="btn btn-danger btn-sm">취소</button>
	                 </span>
	      </form>
			</div>
			<div class="col-sm-2 sidenav"></div>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
	$(function(){
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
		
	
		
	})
	
	$(document).on('frameComplete',function(event) {
	   $('#join').click(function () { 
		
        $.ajax({
                url: contextRoot+"/company/getJob?reno=1"
                , method: "GET"
                , dataType: "json"
               , headers: {
                    "Accept": "application/json"
                    , "Content-Type": "application/json"
                }
                , success : function(data) {
                	console.log(data);
              		console.log(data.crecs.recnm);
               		console.log(data.crecs.reed);
              		var crecs=data.crecs;
              		var recnm=data.crecs.recnm;
              		var reed=data.crecs.reed;
              		$('#getJobTable').load('/view/company/getJob/getJob.html', function() {
        				$('#recnm').text(data.crecs.recnm);
        				$('#reed').text(data.crecs.reed);
        				});
        			
        		},
        			error:function(req,status,error){
        				callModal('알수없는 에러');
        				user=null;
        		}
            }); 
	   });
	   });
</script>

</html>