<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/view/common/login/css/frame.css">
</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav"></div>
			<div class="col-md-8 text-left main">
				<div class="addUserbox">
					<form class="form-horizontal">
						<h1 align="center" style="width: 30">Welcom to SpringJobs</h1>
						<h3 align="center">새로운 세상이 당신을 기다립니다.</h3>
						<br> <br>
						<table class="table table-bordered" style="width: 60%;" align="center">
							<tbody id="joinForm">
								<tr>
									<thead>
										<td class="success"><strong>ID/e-mail</strong></td>
										<td><input class="form-control" type="text" id="joinuem"
											placeholder="ID/e-mail을 입력하세요."></td>
										<td>
											<div id="uemvalicheck" role="alert">
		
											</div>
										</td>
									</thead>
								</tr>
								<tr>
									<thead>
										<td class="success"><strong>암호</strong></td>
										<td><input class="form-control" type="password" id="joinupw"
											placeholder="PW를 입력하세요."></td>
										<td>
											<div id="upwvalicheck" role="alert">
		
											</div>
										</td>
									</thead>
								</tr>
								<tr>
									<thead>
										<td class="success"><strong>암호 재입력</strong></td>
										<td><input class="form-control" type="password" id="joinreupw"
											placeholder="PW를 입력하세요."></td>
										<td>
											<div id="reupwvalicheck" role="alert"></div>
										</td>
									</thead>
								</tr>
								<tr>
									<thead>
										<td class="success"><strong>이름</strong></td>
										<td><input class="form-control" type="text" id="joinunm"
											placeholder="이름을 입력하세요."></td>
										<td>
											<div id="unmvalicheck" role="alert">
		
											</div>
										</td>
									</thead>
								</tr>
								<tr>
									<thead>
										<td class="success"><strong>국적</strong></td>
										<td><input class="form-control" type="email" id="joinuco"
											placeholder="국적"></td>
										<td>
											<div id="ucovalicheck" role="alert">
		
											</div>
										</td>
									</thead>
								</tr>
							</tbody>
						</table>

						<div align="center">
							<button type="button" class="btn btn-primary" id="join">확인</button>
							<button type="button" class="btn btn-primary">취 소</button>
						</div>
					</form>
				</div>

			</div>
			<div class="col-sm-2 sidenav"></div>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
	var uemConfirm=false;
	var upwConfirm=false;
	$(function(){
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	})
	<!-- 비밀번호 체크 -->
	$('#joinupw').on('input',function(){
		if($(this).val().length<8){
			$('#upwvalicheck').text('비밀번호는 8자 이상입니다.');
			upwConfirm=false;
		}else{
			$('#upwvalicheck').text('');
			upwConfirm=true;
		}
	});
	<!-- 비밀번호 체크 끝-->
	
	<!-- 비밀번호 재입력 체크-->
	$('#joinreupw').on('input',function(){
		if($(this).val()!=$('#joinupw').val()){
			upwConfirm=false;
			$('#reupwvalicheck').text('비밀번호가 일치하지 않습니다.');
		}else{
			upwConfirm=true;
			$('#reupwvalicheck').text('');
		}
	});
	<!-- 비밀번호 재입력 체크 끝-->
	
	
	<!-- 아이디 중복 체크-->
	  $('#joinuem').on('input',function(){
		  	if(($(this).val().length)>5){
		  		console.log('{"uem":"'+$("#joinuem").val()+'"}');
				$.ajax({
					url: nodeContextRoot+"/uemDuplicateCheck",
					method : "POST",
					dataType : "json",
					data : '{"uem":"'+$(this).val()+'"}',
					headers : {
						"Accept" : "application/json",
						"Content-Type" : "application/json"
					},
					success : function(data,status){
						if(data.duplicateResult==0){
							uemConfirm=true;
							$('#uemvalicheck').text('사용가능');
						}else{
							uemConfirm=false;
							$('#uemvalicheck').text('아이디 중복입니다.');
						}
					}
				});  
	  		}else{
	  			$('#uemvalicheck').text('6자 이상입니다.');
	  		}
	  }); 
	<!-- 아이디 중복 체크 끝-->
	
	<!-- 회원가입 버튼 -->
	$('#join').click(function(){
		console.log("uem : "+uemConfirm);
		console.log("upw : "+upwConfirm);
		if(!uemConfirm){
			$("#joinuem").focus();
		}else if(!upwConfirm){
			$("#joinupw").focus();
		}else{
			console.log('{"uem":"'+$("#joinuem").val()+'","upw":"'+$("#upw").val()+'","unm":'+$('#unm').val()+'"}');
			$.ajax({
				url: contextRoot+"/addUser",
				method : "POST",
				dataType : "json",
				data : '{"uem":"'+$("#joinuem").val()+'","upw":"'+$("#joinupw").val()+'","unm":"'+$('#joinunm').val()+'"}',
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				beforeSend : addLoading,
				complete : removeLoading,
				success : function(status){
					callModal('회원가입','가입완료!!','/view/common/login/frame.html');
				}
			});
		}
	});
	<!-- 회원가입 버튼 끝-->
</script>

</html>