<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AddJobMapper">
	<resultMap id="AddJobSelectMap" type="com.springjobs.domain.Crecs">
		<result property="reno" 			column="RENO" 		jdbcType="INTEGER"/>
		<result property="retl"				column="RETL" 		jdbcType="VARCHAR" />
		<result property="recnm"		 	column="RECNM" 		jdbcType="VARCHAR" />
		<result property="rewc" 			column="REWC" 		jdbcType="VARCHAR" />
		<result property="renpl" 			column="RENPL"	 	jdbcType="INTEGER" />
		<result property="rechk" 			column="RECHK"	 	jdbcType="CHAR" />
		<result property="reidt"	 		column="REIDT" 		jdbcType="VARCHAR" />
		<result property="rejp"	 			column="REJP" 		jdbcType="VARCHAR" />
		<result property="retp" 			column="RETP" 		jdbcType="VARCHAR" />
		<result property="rerd" 			column="RERD" 		jdbcType="DATE" />
		<result property="reed"				column="REED"		jdbcType="DATE" />
		<result property="rear" 			column="REAR" 		jdbcType="VARCHAR" />
		<result property="rewt"				column="REWT" 		jdbcType="VARCHAR" />
		<result property="cno"				column="CNO"		jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addJob"		parameterType="com.springjobs.domain.Crecs" >
	 	INSERT
		INTO CRECS(retl, recnm, rewc, renpl, rechk, reyr, reidt, rejp, retp, repay, rerg, rerd, reed, rehtn, rear, rewt, cno) 
		VALUES(#{retl},#{recnm},#{rewc},#{renpl},#{rechk},#{reyr},#{reidt},#{rejp},#{retp},#{repay},#{rerg},curdate(),#{reed},1,#{rear},#{rewt},1);
		    <selectKey keyProperty="reno" resultType="INTEGER">
	        SELECT LAST_INSERT_ID()
	  	  </selectKey>
	
	 </insert>
	
	<!-- SQL : SELECT ONE -->
	 <select 	id="getJob"	parameterType="int"	resultMap="AddJobSelectMap">
		SELECT retl, recnm, rewc, renpl, rechk, reyr, reidt, rejp, retp, repay, rerg, reed, rear, rewt
		FROM CRECS
		WHERE reno = #{reno};
		<!-- , CINFOS, USERS 
		WHERE CRECS.cno = CINFOS.cno
		and CINFOS.cno = USERS.cno -->
	<!-- 	and USERS.uno = CINFOS.uno -->
	 </select>
	
</mapper>