<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectMapper">
	<resultMap id="projectSelectMap" type="com.springjobs.domain.Cpjts">
		<result property="cpjno" 			column="CPJNO" 		jdbcType="INTEGER"/>
		<result property="name"				column="CPJNM" 		jdbcType="VARCHAR" />
		<result property="introduction" 	column="CPJINT" 	jdbcType="VARCHAR" />
		<result property="skill" 			column="CPJSK" 		jdbcType="VARCHAR" />
		<result property="check" 			column="CPJCHK" 	jdbcType="CHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProject"		parameterType="com.springjobs.domain.Cpjts" >
	 	INSERT
		INTO CPJTS(cpjnm, cpjint, cpjsk, cpjchk, cpjnpl, cpjmnp, cpjmap, cpjrd, cpjrg, cpjwt, cpjar, cno) 
		VALUES(#{cpjnm},#{cpjint},#{cpjsk},#{cpjchk},5,12000,200000,'2016-04-20','sean','albar','Seoul',1);
	 </insert>

</mapper>