<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectMapper">
	<resultMap id="projectSelectMap" type="com.springjobs.domain.Cpjts">
		<result property="cpjno" 			column="CPJNO" 		jdbcType="INTEGER"/>
		<result property="cpjnm"			column="CPJNM" 		jdbcType="VARCHAR" />
		<result property="cpjint" 			column="CPJINT" 	jdbcType="VARCHAR" />
		<result property="cpjchk" 			column="CPJCHK" 	jdbcType="CHAR" />
		<result property="cpjyr"	 		column="CPJYR"  	jdbcType="VARCHAR" />
		<result property="cpjnpl" 			column="CPJNPL" 	jdbcType="INTEGER" />
		<result property="cpjmnp" 			column="CPJMNP" 	jdbcType="INTEGER" />
		<result property="cpjmap" 			column="CPJMAP" 	jdbcType="INTEGER" />
		<result property="cpjhtn" 	 		column="CPJHTN" 	jdbcType="INTEGER" />
		<result property="cpjrd" 			column="CPJRD" 	 	jdbcType="DATE" />
		<result property="cpjsd" 			column="CPJSD" 	 	jdbcType="DATE" />
		<result property="cpjed" 		    column="CPJED" 	 	jdbcType="DATE" />
		<result property="cpjrg" 			column="CPJRG" 		jdbcType="VARCHAR" />
		<result property="cpjwt" 			column="CPJWT" 		jdbcType="VARCHAR" />
		<result property="cpjar" 			column="CPJAR" 		jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addProject"		parameterType="com.springjobs.domain.Cpjts" >
	 	INSERT
		INTO CPJTS(cpjnm, cpjsd, cpjed, cpjint, cpjchk, cpjyr, cpjnpl, cpjmnp, cpjmap, cpjhtn, cpjrd, cpjrg, cpjwt, cpjar, cno) 
		VALUES(#{cpjnm},#{cpjsd},#{cpjed},#{cpjint},#{cpjchk},#{cpjyr},#{cpjnpl},#{cpjmnp},#{cpjmap},1,curdate(),#{cpjrg},#{cpjwt},#{cpjar},#{cno});
		
	    <selectKey keyProperty="cpjno" resultType="INTEGER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<select id="getProject"		parameterType="int"		resultMap="projectSelectMap">
		SELECT
		cpjnm, cpjint, cpjchk, cpjyr, cpjnpl, cpjmnp, cpjmap, cpjrg, cpjwt, cpjar 
		FROM CPJTS
		WHERE cpjno = #{cpjno}
	</select>
</mapper>