<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProjectMapper">
	<resultMap id="projectSelectMap" type="com.springjobs.domain.Cpjts">
		<id 	property="cpjno" 			column="CPJNO" 		jdbcType="INTEGER"/>
		<result property="cpjnm"			column="CPJNM" 		jdbcType="VARCHAR" />
		<result property="cpjint" 			column="CPJINT" 	jdbcType="VARCHAR" />
		<result property="cpjchk" 			column="CPJCHK" 	jdbcType="CHAR" />
		<result property="cpjyr"	 		column="CPJYR"  	jdbcType="VARCHAR" />
		<result property="cpjnpl" 			column="CPJNPL" 	jdbcType="INTEGER" />
		<result property="cpjmnp" 			column="CPJMNP" 	jdbcType="INTEGER" />
		<result property="cpjmap" 			column="CPJMAP" 	jdbcType="INTEGER" />
		<result property="cpjhtn" 	 		column="CPJHTN" 	jdbcType="INTEGER" />
		<result property="cpjrsd" 			column="CPJRSD" 	jdbcType="DATE" />
		<result property="cpjred" 			column="CPJRED" 	jdbcType="DATE" />
		<result property="cpjsd" 			column="CPJSD" 	 	jdbcType="DATE" />
		<result property="cpjed" 		    column="CPJED" 	 	jdbcType="DATE" />
		<result property="cpjrg" 			column="CPJRG" 		jdbcType="VARCHAR" />
		<result property="cpjwt" 			column="CPJWT" 		jdbcType="VARCHAR" />
		<result property="cpjar" 			column="CPJAR" 		jdbcType="VARCHAR" />
		<result property="cno" 			column="CNO" 			jdbcType="INTEGER" />
		<result property="cnm" 			column="CNM" 			jdbcType="VARCHAR" />
		<collection property="cpjsk" ofType="com.springjobs.domain.Skills">
	    	<id property="skno" column="SKNO"/>
	    	<result property="sknm" column="SKNM"/>
		</collection>
	</resultMap>
	
	<resultMap id="joinProjectSelectMap" type="com.springjobs.domain.Cpjjoin">
	    <result property="uno"			column="UNO" 		jdbcType="INTEGER" />
		<result property="cpjno" 		column="CPJNO" 		jdbcType="INTEGER" />
		<result property="cpjconf" 		column="CPJCONF" 	jdbcType="CHAR" />
	</resultMap>

	<!-- SQL : INSERT -->
	<insert 	id="addProject"		parameterType="com.springjobs.domain.Cpjts" >
	 	INSERT
		INTO CPJTS(cpjnm, cpjsd, cpjed, cpjint, cpjchk, cpjyr, cpjnpl, cpjmnp, cpjmap, cpjhtn, cpjrsd, cpjred, cpjrg, cpjwt, cpjar, cno) 
		VALUES(#{cpjnm},#{cpjsd},#{cpjed},#{cpjint},'0',#{cpjyr},#{cpjnpl},#{cpjmnp},#{cpjmap},1,curdate(),#{cpjred},#{cpjrg},#{cpjwt},#{cpjar},#{cno});
		
	    <selectKey keyProperty="cpjno" resultType="INTEGER">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<insert id="addProjectSkills" parameterType="com.springjobs.domain.Cpjts">
	    INSERT
	    INTO CPJTSKILLS
	    VALUES
	    <foreach collection="cpjsk" item="item" separator=" , ">
	        ( #{cpjno},#{item.skno} )
	    </foreach>
	</insert>
	
	<select id="getProject"		parameterType="int"		resultMap="projectSelectMap">
		SELECT 
		* FROM
		(SELECT pj.*,pjsk.SKNO FROM CPJTS pj LEFT OUTER JOIN CPJTSKILLS pjsk ON pj.cpjno=pjsk.cpjno) sub
		LEFT OUTER JOIN SKILLS sk
		ON sk.skno=sub.skno
		<where>
		    cpjno=#{cpjno}
		</where>
	</select>
	
	<select id="getProjectList"		parameterType="com.springjobs.common.Search"	resultMap="projectSelectMap">
	    select distinct main.*,sub.* from
	    	(select pj.*,sk.sknm 
	    	from CPJTS pj left outer join CPJTSKILLS pjsk 
	    	on pj.cpjno=pjsk.cpjno left outer join SKILLS sk on pjsk.skno=sk.skno)main,
		    (select pj.cpjno from CPJTS pj left outer join CPJTSKILLS pjsk on pj.cpjno=pjsk.cpjno
			<where>
				<if test="cpjar.size>=1">
					AND
					(
					<foreach collection="cpjar" item="item" separator="OR">
						cpjar=#{item}
					</foreach>
					)
		        </if>
		        <if test="cpjsk.size>=1">
					AND
					(
					<foreach collection="cpjsk" item="item" separator="OR">
						pjsk.skno=#{item}
					</foreach>
					)
		        </if>
		        <if test="cpjmnp!=0 and cpjmap!=0">
					AND cpjmnp&lt;=#{cpjmnp} AND cpjmap&gt;=#{cpjmap}
		        </if>
		        <if test="cpjyr!=0">
					AND cpjyr=#{cpjyr}
		        </if>
			 </where>
			 )sub
		where main.cpjno=sub.cpjno
		order by cpjrsd desc;
	</select>
	
	<insert id="joinProject" parameterType="map">
	    INSERT
	    INTO CPJJOIN
	    VALUES
	    ( #{uno},#{cpjno},'0')
	</insert>
	
	<select id="getJoinProjectList" parameterType="map" resultMap="joinProjectSelectMap">
		SELECT  user.*
		FROM 
		CPJJOIN pjjoin, USERS user 
		<where>
			pjjoin.uno=user.uno
		    <if test="uno!=null">
				AND user.uno=#{uno}
		    </if>
		    <if test="cpjno!=null">
		        AND pjjoin.cpjno = #{cpjno}
		    </if>
		    <if test="cpjconf!=null">
		        AND pjjoin.cpjconf = #{cpjconf}
		    </if>
		</where>
	</select>
</mapper>