<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<resultMap id="userSelectMap" type="com.springjobs.domain.Users">
		<result property="uno"  column="UNO"  jdbcType="INTEGER" />
		<result property="unm"  column="UNM"  jdbcType="VARCHAR" />
		<result property="uenm" column="UENM" jdbcType="VARCHAR" />
		<result property="uem"  column="UEM"  jdbcType="VARCHAR" />
		<result property="upw"  column="UPW"  jdbcType="VARCHAR" />
		<result property="uco"  column="UCO"  jdbcType="VARCHAR" />
		<result property="usx"  column="USX"  jdbcType="VARCHAR" />
		<result property="ucnf" column="UCNF" jdbcType="VARCHAR" />
		<result property="ubd"  column="UBD"  jdbcType="DATE" />
		<result property="upho" column="UPHO" jdbcType="VARCHAR" />
		<result property="uadr" column="UADR" jdbcType="VARCHAR" />
		<result property="uurl" column="UURL" jdbcType="VARCHAR" />
		<result property="ures" column="URES" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="utagsSelectMap" type="com.springjobs.domain.UTags">
		<result property="uexno" column="UEXNO" jdbcType="INTEGER" />
		<result property="uextg" column="UEXTG" jdbcType="VARCHAR" />
		<result property="uno" column="UNO" jdbcType="INTEGER" />
	</resultMap>
	

	<resultMap id="usclsSelectMap" type="com.springjobs.domain.Uscls">
		<result property="scno" column="SCNO" jdbcType="INTEGER" />
		<result property="scnm" column="SCNM" jdbcType="VARCHAR" />
		<result property="scmj" column="SCMJ" jdbcType="VARCHAR" />
		<result property="scgr" column="SCGR" jdbcType="INTEGER" />
		<result property="scsd" column="SCSD" jdbcType="DATE" />
		<result property="sced" column="SCED" jdbcType="DATE" />
		<result property="uno" column="UNO" jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="uexpsSelectMap" type="com.springjobs.domain.Uexps">
		<result property="expno" column="EXPNO" jdbcType="INTEGER" />
		<result property="expcn" column="EXPCN" jdbcType="VARCHAR" />
		<result property="expdn" column="EXPDN" jdbcType="VARCHAR" />
		<result property="exppy" column="EXPPY" jdbcType="INTEGER" />
		<result property="expsd" column="EXPSD" jdbcType="DATE" />
		<result property="exped" column="EXPED" jdbcType="DATE" />
		<result property="expwc" column="EXPWC" jdbcType="VARCHAR" />
		<result property="uno" 	 column="UNO" 	jdbcType="INTEGER" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addUser" parameterType="com.springjobs.domain.Users">
		INSERT
		INTO USERS(unm, uem, upw, ucnf)
		VALUES (#{unm},#{uem},#{upw},'0');
	</insert>

	<select id="login" parameterType="com.springjobs.domain.Users"
		resultType="com.springjobs.domain.Users">
		SELECT
		U.UNO,U.UNM,U.UENM,U.UEM,U.UPW,U.UCO,U.USX,U.UCNF,U.UBD,U.UPHO,U.UADR,UURL,URES,C.CNO
		FROM USERS U left outer join CINFOS C
		ON U.uno=C.uno WHERE U.uem=#{uem}
		and U.upw=#{upw}
	</select>

	<select id="idDuplicateCheck" parameterType="com.springjobs.domain.Users"
		resultType="int">
		SELECT COUNT(*)
		FROM USERS
		WHERE uem=#{uem};
	</select>
	
	<update 	id="addAcademic"	parameterType="com.springjobs.domain.Uscls" >
	 	UPDATE USCLS
	 	<set>
	 	scnm=#{scnm},
	 	scmj=#{scmj},
	 	scgr=#{scgr},
	 	scsd=#{scsd},
	 	sced=#{sced}, 	
	 	</set>
		WHERE uno=#{uno}
	 </update>

	<update id="addInfo" parameterType="com.springjobs.domain.Users">
		UPDATE USERS
		<set>
			uenm=#{uenm},
			ubd=#{ubd},
			usx=#{usx},
			upho=#{upho},
			uurl=#{uurl},
			uadr=#{uadr}
		</set>
		WHERE uno=#{uno}
	</update>
	
	
	
	<delete id="removeTags" parameterType="com.springjobs.domain.Users">
		DELETE
		FROM
		UTAGS
		WHERE uno=${uno}
	</delete>
	
	<insert id="uTags" parameterType="map">
		INSERT
		INTO UTAGS(uno, uextg)
		VALUES
	    <foreach collection="uextg" item="item" separator=" , ">
	        ( #{uno},#{item} )
	    </foreach>
	</insert>
	
	<select id="getUtag"	 parameterType="int"      resultType="String" >
		SELECT
		uextg
		FROM
		UTAGS 
		WHERE
		uno=#{uno};
	</select>

	<select id="getUexps"	 parameterType="int"	resultType="com.springjobs.domain.Uexps">
		SELECT
		*
		FROM
		UEXPS 
		WHERE
		uno=#{uno};
	</select>
</mapper>