<div class="panel panel-default joinUserBox" style="height:300px;">
              		<div class="hover-before">
	  	<div class="panel-body joinUser">
	    	<img src="/view/resources/img/spring.jpg" class="img-circle">
	    	<h3 class="unm"></h3>
	  	</div>
	  	<div class="panel-footer joinUserTag" style="text-align:center;">
			<h4 class="uextg">
<!-- 				<button type="button" class="btn btn-primary btn-circle">TAG</button> -->
<!-- 				<button type="button" class="btn btn-success btn-circle">TAG</button> -->
<!-- 				<button type="button" class="btn btn-danger btn-circle">TAG</button> -->
<!-- 				<button type="button" class="btn btn-warning btn-circle">TAG</button> -->
			</h4>
	  	</div>
  	</div>
</div>

<script>

</script>