<div class="panel panel-default joinUserBox" style="height:100%;background-color: #f5f5f5;">
              		<div class="hover-before">
	  	<div class="panel-body joinUser">
	  		<div>
	  			<img src="/view/resources/img/spring.jpg">
	  		</div>
	    	<div>
		    	<h3 class="unm"></h3>
	    	</div>
	  	</div>
	  	<pre class="cpjjointxt" style="margin:0px;max-height: 100px;max-width: 304px;overflow: hidden;text-overflow: ellipsis;">
	  		
	  	</pre>
  	</div>
</div>

<script>
	$('.joinUserBox').off("click").on("click",function(){
		queryData = {};
		queryData.uno=$(this).attr('value');
		queryData.cpjno=getUrlParams().cpjno;
		var imgSrc = $(this).find('img').attr('src');
		$.ajax({
			type : 'POST',
			url : contextRoot+ "/developer/getJoinProjectUser",
			dataType : "json",
			beforeSend : addLoading,
			complete : removeLoading,
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			data : JSON.stringify(queryData),
			success : function(data) {
				$('#acceptModal').modal();
				var joinUser = data.joinUser;
				$('#acceptModal').find('img').attr("src",imgSrc);
				$('#acceptModal').find('pre').text(joinUser.cpjjoins[0]['cpjjointxt']);
				$('#accept-btn').attr('value',joinUser.uno);
				console.log(joinUser)
			}
		});
	});
	$('#accept-btn').off("click").on("click",function(){
		$('#acceptModal').modal('hide');
		$.ajax({
			type : 'POST',
			url : contextRoot+ "/company/confirmProjectUser",
			dataType : "json",
			beforeSend : addLoading,
			complete : removeLoading,
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			data : JSON.stringify({
				cpjno : getUrlParams().cpjno,
				uno : $('#accept-btn').attr('value')
			}),
			success : function(data) {
				$('#confirmSuccessModal').modal();
			}
		});
	});
	$( ".joinUserBox" ).hover(function() {
		$(this).css('background-color','#BDBDBD');
		$(this).find('pre').css('background-color','#BDBDBD');
	},function(){
		$(this).css('background-color','#f5f5f5');
		$(this).find('pre').css('background-color','#f5f5f5');
	});
</script>