<div class="panel panel-default joinUserBox" style="height:300px;">
              		<div class="hover-before">
	  	<div class="panel-body joinUser">
	    	<img src="/view/resources/img/spring.jpg" class="img-circle">
	    	<h3 class="unm"></h3>
	  	</div>
	  	<div class="panel-footer joinUserTag" style="text-align:center;">
			<h4 class="uextg">
			</h4>
	  	</div>
  	</div>
</div>

<script>
	$('.joinUserBox').off("click").on("click",function(){
		queryData = {};
		queryData.uno=$(this).attr('value');
		queryData.cpjno=getUrlParams().cpjno;
		$.ajax({
			type : 'POST',
			url : contextRoot+ "/developer/getJoinProjectUser",
			dataType : "json",
			beforeSend : addLoading,
			complete : removeLoading,
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			data : JSON.stringify(queryData),
			success : function(data) {
				$('#acceptModal').modal();
				var joinUser = data.joinUser;
				$('#acceptModal').find('pre').text(joinUser.cpjjoins[0]['cpjjointxt']);
				$('#accept-btn').attr('value',joinUser.uno)
			}
		});
	});
	$('#accept-btn').off("click").on("click",function(){
		$('#acceptModal').modal('hide');
		$.ajax({
			type : 'POST',
			url : contextRoot+ "/company/confirmProjectUser",
			dataType : "json",
			beforeSend : addLoading,
			complete : removeLoading,
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			data : JSON.stringify({
				cpjno : getUrlParams().cpjno,
				uno : $('#accept-btn').attr('value')
			}),
			success : function(data) {
				$('#confirmSuccessModal').modal();
			}
		});
	});
</script>