<!DOCTYPE html>
<html lang="en">
<head>
<title>SpringJobs</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://t1.java78.com:8080/view/common/login/css/frame.css">
 <style>
        .adp {
            background-color: #6666FF;
            width: 100%;
            padding: 0em 1em 1em 4em;
            color: white;
        }
        
        .tabsize {
            width:80%;
            float: left;
        }
        .tabmar{
            margin-left: 10em;
        }
        
        .navbar {
	        margin-bottom: 0;
	        border-radius: 0;
	        margin-bottom: 0px;
	    }
     section{
         border-style: outset; 
         border-width: 7px; 
         background-color:white; 
         padding:15px;
         padding-bottom: 30px;
         margin-top:10px;
         margin-bottom:20px;
     }
     .btn-detail{
         padding:0px; 
         background-color:white; 
         width:100%; 
         border-style:none;
     }
     .detail{
         padding: 10px;
         display:none;
     }
     .tag{
     	margin:3px;
     }
     .joinUserBox{
    	width: 32%;
    	display: inline-table;
    	height:300px;
    	cursor:pointer;
     }
     .joinUser{
     	text-align: center;
     	height:200px;
     }
     .joinUser img{
     	width: 100px;
     	height: 130px;
     }
     .btn-circle{
		width: 50px;
		height: 50px;
		padding: 0px;
		font-size: 20px;
		line-height: 1.33;
		border-radius: 35px;
		margin: 5px;
	}
	.joinUserTag{
		height:97px;
	}
	.modal {
		top: 0%;
	}
    </style>

</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav"></div>
			<div class="col-md-8 text-left main" style="background-color:#f1f1f1">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <section>
                        <table width="100%">
                            <tr>
                            	<td>
                            	<span class="glyphicon glyphicon-th-large" style="color: firebrick;"></span>
                            	</td>
                                <td width="100%" style="padding-left: 1em;">
                                    <div id="cpjnm" style="text-align:left; font-size: 2em"></div>
                                </td>
                            </tr>
                            <tr>
                            	<td colspan="2">
                            	<h5>게시자 : <span id="cpjrg"></span></h5>
                            	</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-md-4">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" style="height:100px;">
                                                <div class="col-md-4" style="padding:0px;">
                                                    <span class="glyphicon glyphicon-usd" aria-hidden="true" style="font-size:5em; margin:0px;"></span>
                                                </div>
                                                <div class="col-md-8" style="margin-top:5px">
                                                    <strong style="font-size:20px;">평균</strong>
                                                    <h4><span id="cpjmAvg"></span>원</h4>
                                                </div>
                                            </div>
                                            <div class="detail">
                                                <div>최저금액 : <span id="cpjmnp"></span>원</div>
                                                <div>최고금액 : <span id="cpjmap"></span>원</div>
                                            </div>
                                            <button class="btn btn-detail btn-default">
                                                자세히 보기
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-primary" style="border-color:#5CB85C;">
                                            <div class="panel-heading" style="height:100px; background-color:#5CB85C; background-color:#5CB85C; border-color:#5CB85C;">
                                                <div class="col-md-4" style="padding:0px;">
                                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true" style="font-size:5em; margin:0px;"></span>
                                                </div>
                                                <div class="col-md-8" style="margin-top:5px">
                                                    <strong style="font-size:20px;">진행기간</strong>
                                                    <h4>6개월</h4>
                                                </div>
                                            </div>
                                            <div class="detail">
                                                <div>시작일 : <span id="cpjsd"></span>일</div>
                                                <div>마감일 : <span id="cpjed"></span>일</div>
                                            </div>
                                            <button class="btn btn-detail btn-default">
                                                자세히 보기
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-primary" style="border-color:#D9534F;">
                                            <div class="panel-heading" style="height:100px; background-color:#5CB85C; background-color:#D9534F; border-color:#D9534F;">
                                                <div class="col-md-4" style="padding:0px;">
                                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="font-size:5em; margin:0px;"></span>
                                                </div>
                                                <div class="col-md-8" style="margin-top:5px">
                                                    <strong style="font-size:20px;">사용기술</strong>
                                                    <h4>Spring</h4>
                                                </div>
                                            </div>
                                            <div class="detail" id="cpjskList">
                                            </div>
                                            <button class="btn btn-detail btn-default">
                                                자세히 보기
                                            </button>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                    </table>
                    </section>
                    <section>
                        <table class="table">
                            <tr>
                                <td width="30%" style="text-align: center;">
                                    <h4>지역</h4>
                                </td>
                                <td width="25%" style="text-align: center;">
                                    <h4>프로젝트 공고기간</h4>
                                </td>
                                <td width="15%" style="text-align: center;">
                                    <h4>경력</h4>
                                </td>
                                <td width="15%" style="text-align: center;">
                                    <h4>고용형태</h4>
                                </td>
                                <td width="15%" style="text-align: center;">
                                    <h4>근무형태</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;vertical-align:middle;">
                                    <strong style="font-size: 1em;" id="cpjar"></strong>
                                </td>
                                <td style="text-align: center;vertical-align:middle;">
                                    <strong style="font-size:1em;"><span id="cpjrdGap" style="color: red;"></span>일 남음</strong>
                                    <div><span id="cpjred"></span> 까지</div>
                                </td>
                                <td style="text-align: center;vertical-align:middle;">
                                    <strong style="font-size:1em;"><span id="cpjyr"></span>년</strong>이상
                                </td>
                                <td style="text-align: center;vertical-align:middle;">
                                    <strong style="font-size:1em;"><span id="cpjnpl"></span>명</strong>
                                </td>
                                <td style="text-align: center;vertical-align:middle;">
                                    <strong style="font-size:1em;" id="cpjwt"></strong>
                                </td>
                            </tr>
                        </table>
                        <div class="panel panel-default">
                            <div class="panel-heading">상세설명</div>
                            <div class="panel-body" id="cpjint">
                            </div>
                        </div>
                        <div style="text-align:right;">
                        	<button type ="button" class="btn btn-primary" id="joinCompanyBtn">지원하기</button>
                        </div>
                    </section>
                    <section id="getJoinProjectUserList" class="admin">
                    	<span class="glyphicon glyphicon-th-large" style="color: skyblue;"></span>
                    	<span style="font-size: 2em;">수락완료개발자</span>
                    </section>
                    <section id="getJoinConfirmProjectUserList" class="admin">
                    	<span class="glyphicon glyphicon-th-large" style="color: skyblue;"></span>
                    	<span style="font-size: 2em;">참여신청개발자</span>
                    </section>
                </div>
                <div class="col-md-1"></div>
			</div>
			<div class="col-sm-2 sidenav" ></div>
		</div>
	</div>
	<div id="footer"></div>
	
	<!-- Modal -->
	<div class="modal fade" id="acceptModal" role="dialog">
		<div class="modal-dialog modal-lg" style="width:700px;">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">개발자 정보</h4>
				</div>
				<div class="modal-body" style="list-style-type: none;" >
	                <div class="container-fluid">
	                    <div class="row">
	                        <div class="col-md-3" style="text-align:center;"> 
	                            <img class="img-circle" src="/view/resources/img/spring.jpg" style="border : 3px outset; width: 10em;">
	                        </div>
	                        <div class="col-md-9">
	                            <div class="bs-example" data-example-id="large-well">
	                            <h5>지원서</h5>
	                                <pre>
	                                	
	                                </pre>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
				<div class="modal-footer" style="text-align:center;">
					<button type="button" class="btn btn-primary" id="accept-btn" data-dismiss="modal">수락</button>
					<button type="button" class="btn btn-primary" id="userDetail">자세히 보기</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	
	<!-- small Modasl -->
	<div id="confirmSuccessModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class="modal-header">
	            수락완료
	      </div>
	
	      <div class="modal-body">
	        <p id="modalMsg">수락이 완료되었습니다.</p>
	      </div>
	
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" id="confirmSuccessModalBtn" data-dismiss="modal">확인</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- small Modal -->
	
	<!-- 지원서 작성 모달 -->
    <div class="modal fade" id="joinRequestModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">신청하기</h4>
                </div>
                <div class="modal-body" style="list-style-type: none;" >
                    <h2><strong>지원서 작성</strong></h2>
                        <p>해당프로젝트에 지원하려는 내용을 작성해 주세요,</p>
                        <div class="form-group">
                          <label for="comment">Comment:</label>
                          <textarea class="form-control" rows="10" id="cpjjointxt"></textarea>
                          <pre style="display:none;"></pre>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="joinProject">지원하기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close" style="display:none;">확인</button>
					<button type="button" class="btn btn-default" id="modifyJoinProject" style="display:none;">수정하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 지원서 작성 모달 -->
    
	
</body>
<script>
	$(function() {
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	});
	$(document).on('frameComplete',function(event) {
						var cpjt;
						var projectJoinUserList;
						$.ajax({
							type : 'get',
							url : contextRoot
									+ "/company/getProjectView?cpjno="
									+ getUrlParams().cpjno,
							dataType : "json",
							beforeSend : addLoading,
							complete : removeLoading,
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							success : function(data) {
								cpjt = data.cpjt;
								$.map(data.cpjt.cpjsk,function(val, i) {
									$('#cpjskList').append($('<button></button>').addClass('btn tag btn-sm btn-default').text(val.sknm));
								});
								var cpjred = data.cpjt.cpjred;
								var cpjrdGap = (new Date(cpjred).getTime() - new Date().getTime())/ 1000 / 60 / 60 / 24;
								var cpjmAvg = (data.cpjt.cpjmap + data.cpjt.cpjmnp) / 2
								var cpjint = data.cpjt.cpjint.replace(/\n/gi, '<br>');
								$('#cpjnm').text(data.cpjt.cpjnm);
								$('#cpjsd').text(data.cpjt.cpjsd);
								$('#cpjed').text(data.cpjt.cpjed);
								$('#cpjint').html(cpjint);
								$('#cpjchk').text(data.cpjt.cpjchk);
								$('#cpjnpl').text(data.cpjt.cpjnpl);
								$('#cpjmnp').text(data.cpjt.cpjmnp);
								$('#cpjmap').text(data.cpjt.cpjmap);
								$('#cpjrg').text(data.cpjt.cpjrg);
								$('#cpjwt').text(data.cpjt.cpjwt);
								$('#cpjar').text(data.cpjt.cpjar);
								$('#cpjyr').text(data.cpjt.cpjyr);
								$('#cpjred').text(data.cpjt.cpjred);
								$('#cpjrdGap').text(parseInt(cpjrdGap));
								$('#cpjmAvg').text(cpjmAvg);
								if(user.cno != cpjt.cno){
									$('.admin').hide();
								}
							}
						});

						//프로젝트 수락완료 개발자 리스트 시작
						$.ajax({
							type : 'POST',
							url : contextRoot
									+ "/company/getJoinProjectUserList",
							dataType : "json",
							beforeSend : addLoading,
							complete : removeLoading,
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							data : JSON.stringify({
								cpjno : getUrlParams().cpjno,
								confirm : "1"
							}),
							success : function(data) {
								var userList = data.userList;
								console.log(userList);
								$.get('getJoinProjectUser.html',function(data) {
									for (var i = 0; i < userList.length; i++) {
										var joinUser = userList[i];
										$('#getJoinProjectUserList').append(data).each(function() {
											$('#getJoinProjectUserList > .joinUserBox:eq('+ i + ')').find('.unm').text(joinUser.unm);
											$('#getJoinProjectUserList > .joinUserBox:eq('+ i + ')').attr('value',joinUser.uno);
											$('#getJoinProjectUserList > .joinUserBox:eq('+ i + ')').find('.cpjjointxt').html(joinUser.cpjjoins[0]['cpjjointxt']);
											if(joinUser.uphots[0]['phot']){
												$('#getJoinProjectUserList > .joinUserBox:eq('+ i + ')').find('img').attr('src',joinUser.uphots[0]['phot']);
											}
										});
									}
								});
							}
						});
						//프로젝트 수락완료 개발자 리스트 끝

						//프로젝트 참여신청 개발자 리스트 시작
						$.ajax({
							type : 'POST',
							url : contextRoot + "/company/getJoinProjectUserList",
							dataType : "json",
							beforeSend : addLoading,
							complete : removeLoading,
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							data : JSON.stringify({
								cpjno : getUrlParams().cpjno,
								confirm : "0"
							}),
							success : function(data) {
								var userList = data.userList;
								console.log(userList);
								$.get('getJoinProjectUser.html',function(data) {
									for (var i = 0; i < userList.length; i++) {
										var joinUser = userList[i];
										$('#getJoinConfirmProjectUserList').append(data).each(function() {
											$('#getJoinConfirmProjectUserList > .joinUserBox:eq('+ i + ')').find('.unm').text(joinUser.unm);
											$('#getJoinConfirmProjectUserList > .joinUserBox:eq('+ i + ')').attr('value',joinUser.uno);
											$('#getJoinConfirmProjectUserList > .joinUserBox:eq('+ i + ')').find('.cpjjointxt').html(joinUser.cpjjoins[0]['cpjjointxt']);
											if(joinUser.uphots[0]['phot']){
												$('#getJoinConfirmProjectUserList > .joinUserBox:eq('+ i + ')').find('img').attr('src',joinUser.uphots[0]['phot']);
											}
										});
									}
								});
							}
						});
						//프로젝트 참여신청 개발자 리스트 끝

						//자세히보기
						$('.btn-detail').click(function() {
							console.log($(this).prev());
							if ($(this).prev().css('display') == 'none') {
								$(this).prev().slideDown();
							} else {
								$(this).prev().slideUp();
							}
						});
						//자세히보기 끝
						
						//프로젝트 신청 모달 호출 시 기존 신청자인지 판단
						$('#joinRequestModal').on('show.bs.modal', function (e) {
							var joinData={};
							joinData.uno=user.uno;
							joinData.cpjno=getUrlParams().cpjno;
							$.ajax({
								type : 'POST',
								url : contextRoot+ "/developer/joinCheck",
								dataType : "json",
								beforeSend : addLoading,
								complete : removeLoading,
								data : JSON.stringify(joinData),
								headers : {
									"Accept" : "application/json",
									"Content-Type" : "application/json"
								},
								success : function(data) {
									if (data.result) {
										console.log(data);
										if(data.result.cpjconf=='0'){
											$('#joinRequestModal').find('strong').text('이미 지원한 프로젝트입니다.');
											$('#modifyJoinProject').show();
											$('pre').show();
											$('#modifyJoinProject').click(function(){
												var text = $('pre').html();
												$('#cpjjointxt').html(text.replace(/<br>/gi,"\n"));
												$('pre').hide();
												$('#cpjjointxt').show();
												$('#joinRequestModal').find('#joinProject').show();
												$('#modifyJoinProject').hide();
											});
										}else if(data.result.cpjconf=='1'){
											$('#joinRequestModal').find('strong').text('프로젝트 참여가 확정되었습니다.');
											$('#joinProject').hide();
											$('#modifyJoinProject').hide();
											$('pre').show();
											$('#close').show();
										}
										$('#joinRequestModal').find('p').text('지원서 내용');
										$('#joinRequestModal').find('#cpjjointxt').hide();
										$('#joinRequestModal').find('#joinProject').hide();
										$('pre').html(data.result.cpjjointxt.replace(/\n/gi,"<br>"));
									}
								},
								error : function() {
									callModal('경고','알수없는 에러');
								}
							});
						});
						//프로젝트 신청 모달 호출 시 기존 신청자인지 판단 끝
						
						//지원하기 버튼 모달창 호출
						$('#joinCompanyBtn').click(function(){
							if (user == null) {
								callModal('경고', '로그인이 필요합니다.');
							} else if (user.cno == cpjt.cno) {
								callModal('경고','자신의 프로젝트에 지원 할 수 없습니다.');
							}else{
								$('#joinRequestModal').modal('show');
							}
						});
						//지원하기 버튼 모달창 호출 끝
						
						//프로젝트 참여
						$('#joinProject').click(function() {
							joinData = {};
							joinData.uno = user.uno;
							joinData.cpjno = getUrlParams().cpjno;
							joinData.cpjjointxt = $('#cpjjointxt').val();
							$.ajax({
								type : 'POST',
								url : contextRoot
										+ "/developer/joinProject",
								dataType : "json",
								beforeSend : addLoading,
								complete : removeLoading,
								data : JSON
										.stringify(joinData),
								headers : {
									"Accept" : "application/json",
									"Content-Type" : "application/json"
								},
								success : function(data) {
									callModal('알림','프로젝트 참여 신청이 완료되었습니다.',location.href);
								},
								error : function() {
									callModal('경고','알수없는 에러');
								}
							});
						});
						//프로젝트 참여 끝
						
						$('#dev-detail').click(function(){
							console.log();
						});
					});
	$('#confirmSuccessModalBtn').click(function(){
		location.reload();
	});
</script>

</html>