
<div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-center" style="position: relative;left: 17%;">
	        <li>
	            <div class="navbar-header">
	              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	              <a class="navbar-brand" id="index">SpringJobs</a>
	            </div>
	        </li>
	        <li>
	            <div class="navbar-form navbar-left" role="search">
	                <div class="form-group">
	                <select class="form-control" id="sel1">
	                    <option>기업</option>
	                    <option>프로젝트</option>
	                    <option>스킬</option>
	                    <option>개발자</option>
	                </select>
	                  <input type="text" class="form-control" placeholder="Search" size="50">
	                </div>
	                <button type="submit" class="btn btn-default">Search</button>
	            </div>
	        </li>
	        <li style="width:50px;"><a></a></li>
	        <li class="dropdown" id="loginul">
	        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">로그인</a>
	        	<ul class="dropdown-menu" style="width:300px; padding:0px; left: -300%; padding-bottom: 10px;">
	        		<li style="text-align:center; background-color:#5F5F5F; color:white; height:30px; line-height:30px">
	        			로그인
	        		</li>
					<li style="padding:10px;">
						<input type="text" class="form-control" id="uem" placeholder="Enter email">
					</li>
					<li style="padding:10px;">
						<input type="password" class="form-control" id="upw" placeholder="Password">
					</li>
					<li style="padding:10px;">
						<button type="button" class="btn btn-default" id="loginButton" style="float:right;">Login</button>
					</li>
		        </ul>
	        </li>
	        <li class="dropdown">
	        	<a href="#" id="signUp">회원가입</a>
	        </li>
        </ul>
        <!--로그인 완료 화면-->
        
		<!--로그인 완료 화면 끝-->
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- sub상단바-->
    <div class="col-md-12 nav-sub parent">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul class="nav nav-pills" style="position: relative;left: 10%;">
            	<li role="presentation" class="dropdown">
                    <a id="frame" class="navbar-item">홈</a>
                </li>
                <li role="presentation" class="dropdown">
                    <a id="addInfo" class="navbar-item">개인이력관리</a>
                </li>

                <li role="presentation" class="dropdown">
                    <a href="#" class="navbar-item">프로젝트</a>
                    <ul id="dropdown-menu" class="dropdown-menu" role="menu">
                        <li><a id = "projectList">프로젝트 정보</a></li>
                        <li><a id = "addProject">프로젝트 등록</a></li>
                        <li><a href='#'>참여중인 프로젝트</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="#"  class="navbar-item">기업서비스</a>
                    <ul id="dropdown-menu" class="dropdown-menu" role="menu">
                        <li><a id="addComp">기업등록</a></li>
                        <li><a id="developerList">개발자 조회</a></li>
                    </ul>
                </li>
                
                <li role="presentation" class="dropdown pull-right" style="position: relative; right: 20%;">
                    <a id="introduction" class="navbar-item">SpringJobs소개</a>
                </li>
            </ul>
        </div>
    </div>
<!-- sub상단바 끝-->
</div>

<!-- 모달 들어갈 곳 시작 -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="confirmModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="bg-primary modal-header" id="modalHeaderMsg">
            
	    </div>
	
		<div class="modal-body">
        	<p id="modalMsg"></p>
      	</div>

      	<div class="modal-footer">
        	<button type="button" class="btn btn-primary" id="modalBtn" data-dismiss="modal">확인</button>
      	</div>
    </div>
  </div>
</div>

 <div class="modal fade" style="width: auto;" id="pfModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>기업 등록</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal7table"></div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
<!-- 모달 들어갈 곳 끝 -->