<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- cdn 추가작업 0428 -->
	<!-- jqplot cdn -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.pointLabels.min.js"></script>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css" />
    <!-- jqplot cdn end-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <!-- add cdn start-->
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <!-- add cdn end-->
    <link href='http://fonts.googleapis.com/css?family=Share+Tech&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
	<!-- cdn 추가작업 0428 끝 -->
	<link rel="stylesheet" href="/view/common/login/css/frame.css">
	<link rel="stylesheet" href="/view/developer/addInfo/css/addinfo.css">
</head>

<body>
<div id="header"></div>
<!--본문 시작-->
  <div class="container-fluid text-center">
	<div class="row content">
	<div class="col-sm-2 sidenav"></div>
	<div class="col-md-8 text-left main">
	<!-- 본문입력란 -->
	<div class="container">
		<!-- row 시 -->
        <div class="row" style="margin-left: 7em">
         <!--사이드 메뉴
         <div id="side-nav">
	       <ul class="nav nav-list affix">
	         
              <li><a href="#one">개인신상</a></li>
              <li><a href="#two">포트폴리오</a></li>
           </ul>
         </div>
         사이드 메뉴 -->         
         <!-- 섹션 시작-->

         <div class="col-md-9 content">
            <div class="ptitle">
              개인이력관리
            </div>
			<!-- 개인신상 부분 섹션 1 시작 -->
            <section id="one">
                <h2 class="shareTech">개인신상</h2>
                <br>
                <!--프로필 등록 화면의 위치 조정을 위하여 class="h1-wrap"을 주석처리하고 row로 대체함 - 오병소 (160405 - UI작업)-->
                <!--<div class="h1-wrap">-->
                <div class="row">
                    <div class="col-xs-2">
                        <div class="fileinput fileinput-new" data-provides="fileinput" style="width:100%;">
                            <!--오른쪽 테이블과의 수평 맞춤을 위한 태그로 사용되었으나 필요 없어서 주석 처리함 - 오병소(160405- UI작업)-->
                            <!-- <div style="height:15px"></div>-->
                            <div class="fileinput-new thumbnail" style="width:120px;height:160px;">
                                <br>
                                <br>
                                <img data-src="holder.js/100%x100%" alt="파일 용량 1MB 이하 3.5cm X 4.5cm jpg, gif 파일만 가능 (6개월 내 찍은 사진)">
                           </div>
                           <div class="fileinput-preview fileinput-exists thumbnail" style="width: 120px; height: 160px;"></div>
                           <div style="width:120px;">
                               <span class="btn btn-default btn-file" style="width:100%;"><span class="fileinput-new" >Select image</span><span class="fileinput-exists">Change</span>
                               <input type="file" name="...">
                               </span>
                               <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput" style="width:100%">Remove</a>
                           </div>
                       </div>
                   </div>


                   <div class="col-md-10">
                       <table class="table table-bordered table-striped nanum" style="width:100%;float:right;">
                           <tbody>

                               <tr>
                                   <thead>
                                       <td class="bg-info"><strong>이름</strong></td>
                                       <td>
                                           <div class="col-md-12" id="unm"></div>
                                       </td>
                                       <td class="bg-info"><strong>영문</strong></td>
                                       <td>
                                           <input class="form-control" type="text" id="uenm" placeholder="ex) Hong GilDong">
                                       </td>
                                   </thead>
                               </tr>
                               
                               <tr>
                                   <thead>
                                       <td class="bg-info"><strong>생년월일</strong></td>
                                       <td>
                                           <input class="form-control" type="date" id="ubd">
                                       </td>
                                       <td class="bg-info"><strong>성별</strong></td>
                                       <td>
                                           <select class="form-control" id="usx">
                                               <option>남성</option>
                                               <option>여성</option>
                                           </select>
                                       </td>
                                   </thead>
                               </tr>
                               <tr>
                                   <thead>
                                       <td class="bg-info"><strong>핸드폰 번호</strong></td>
                                       <td>
                                       	   <input class="form-control" type="text" id="uphone" placeholder="ex) 010-3333-4444">
                                       </td>
                                       <td class="bg-info"><strong>주요 URL</strong></td>
                                       <td>
                                           <input class="form-control" type="text" id="uurl" placeholder="ex)www.github.com/Yimkm">
                                       </td>
                                   </thead>
                               </tr>
                               <tr>
                                   <thead>
                                       <td class="bg-info"><strong>거주지 주소</strong></td>
                                       <td colspan="3">
                                           <input class="form-control" type="text" id="uadr" style="width:79%">
                                           <button type="submit" class="btn btn-default" style="width:20%">
                                               <span class="glyphicon glyphicon-search"></span> 주소검색
                                           </button>
                                       </td>
                                   </thead>
                               </tr>
                               
                           </tbody>
                       </table>
                       <button type="button" class="btn btn-primary" id="join" style="">등록</button> 
                   </div>
               </div>
               <div class="container">
               </div>

           </section>
           <!--섹션 1 끝-->



           <section id="two">
               <h2 class="shareTech">포트폴리오</h2>
               <button class="accordion">노출태그</button>
               <div class="panel">
                   <label> 태그입력</label>
                   <input type="text" size="70">
                   <button type="submit" class="btn btn-default" style="width:20%"><strong>저장</strong></button>
               </div>


               <button class="accordion">학력</button>
               <div class="panel">



                   <form class="form-horizontal">
                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">학교명</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="학교명을 입력하세요.">
                           </div>

                           <div class="input-group ">
                               <button type="submit" class="btn btn-default">
                                   <span class="glyphicon glyphicon-search"></span> Search
                               </button>
                           </div>
                       </div>
                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">전공명</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="전공을 입력하세요.">
                           </div>

                           <div class="input-group ">
                               <button type="submit" class="btn btn-default">
                                   <span class="glyphicon glyphicon-search"></span> Search
                               </button>
                           </div>
                       </div>

                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">성적</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="ex) x.x/4.0, x.x/4.5, x.x/5.0 ...">
                           </div>
                       </div>
                       프로젝트 주제 끝
                       <div class="form-inline form-group-md form-group">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">재학 기간</label>
                           <div class="col-md-3">
                               <input type="date" class="form-control" id="exampleInputEmail3">

                           </div>



                           <div class="col-md-3">
                               <input class="form-control" type="date" id="exampleInputPassword3">
                           </div>
                       </div>



                       <button type="button" class="btn btn-default" style="width:20%"><strong>저장</strong></button>
                       <button type="button" class="btn btn-default" style="width:20%" onclick="add_item()"><strong>추가</strong></button>
                   </form>
                   <div id="pre_set" style="display:none">

                       <br>

                       <form class="form-horizontal">
                           <div class="form-group form-group-md">
                               <label class="col-md-2 control-label" for="formGroupInputMedium">학교명</label>
                               <div class="col-md-5">

                                   <input class="form-control" type="text" id="formGroupInputLarge" placeholder="학교명을 입력하세요.">
                               </div>

                               <div class="input-group ">
                                   <button type="button" class="btn btn-default">
                                       <span class="glyphicon glyphicon-search"></span> Search
                                   </button>
                               </div>
                           </div>
                           <div class="form-group form-group-md">
                               <label class="col-md-2 control-label" for="formGroupInputMedium">전공명</label>
                               <div class="col-md-5">

                                   <input class="form-control" type="text" id="formGroupInputLarge" placeholder="전공을 입력하세요.">
                               </div>

                               <div class="input-group ">
                                   <button type="button" class="btn btn-default">
                                       <span class="glyphicon glyphicon-search"></span> Search
                                   </button>
                               </div>
                           </div>

                           <div class="form-group form-group-md">
                               <label class="col-md-2 control-label" for="formGroupInputMedium">성적</label>
                               <div class="col-md-5">

                                   <input class="form-control" type="text" id="formGroupInputLarge" placeholder="ex) x.x/4.0, x.x/4.5, x.x/5.0 ...">
                               </div>
                           </div>
                           프로젝트 주제 끝
                           <div class="form-inline form-group-md form-group">
                               <label class="col-md-2 control-label" for="formGroupInputMedium">재학 기간</label>
                               <div class="col-md-3">
                                   <input type="date" class="form-control" id="exampleInputEmail3">

                               </div>



                               <div class="col-md-3">
                                   <input class="form-control" type="date" id="exampleInputPassword3">
                               </div>
                           </div>

                           <button type="button" class="btn btn-default" style="width:20%"><strong>저장</strong></button>
                           <button type="button" class="btn btn-default" style="width:20%" onclick="add_item()"><strong>추가</strong></button>
                       </form>
                       <input type="button" value="삭제" onclick="remove_item(this)">
                   </div>
                   <div id="field"></div>
                   <br>

               </div>

               <button class="accordion">경력</button>
               <div class="panel">



                   <form class="form-horizontal">
                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">회사명</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="회사명을 입력하세요.">
                           </div>


                       </div>
                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">부서명</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="전공을 입력하세요.">
                           </div>

                       </div>

                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">급여</label>
                           <label class="col control-label" for="formGroupInputMedium">(단위: 원)</label>
                           <div class="col-md-2">
                               <div class="col-md">
                                   <input class="form-control" type="text" id="formGroupInputLarge" placeholder="">
                               </div>
                           </div>
                       </div>
                       프로젝트 주제 끝
                       <div class="form-inline form-group-md form-group">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">재직 기간</label>
                           <div class="col-md-3">
                               <input type="date" class="form-control" id="exampleInputEmail3">

                           </div>
                           <div class="col-md-3">
                               <input class="form-control" type="date" id="exampleInputPassword3">
                           </div>
                       </div>

                       <div class="form-group form-group-md">
                           <label class="col-md-2 control-label" for="formGroupInputMedium">업무 기술</label>
                           <div class="col-md-5">

                               <input class="form-control" type="text" id="formGroupInputLarge" placeholder="업무를 간략하게 기술하세요.">
                           </div>

                       </div>

                       <button type="button" class="btn btn-default" style="width:20%"><strong>저장</strong></button>
                   </form>
               </div>

               <button class="accordion">보유기술</button>
               <div class="panel">
                   <div class="checkbox">
                       <label>
                           <input type="checkbox" value="">Option 1</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>

                   </div>
                   <div class="checkbox">
                       <label>
                           <input type="checkbox" value="">Option 1</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>

                   </div>
                   <div class="checkbox">
                       <label>
                           <input type="checkbox" value="">Option 1</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>
                       <label class="checkbox-inline">
                           <input type="checkbox" value="">Option 3</label>

                   </div>
               </div>

               <button class="accordion">외국어</button>
               <div class="panel">
                   <p>Lorem ipsum...</p>
               </div>

               <button class="accordion">시험성적</button>
               <div class="panel">
                   <p>Lorem ipsum...</p>
               </div>

               <button class="accordion">프로젝트</button>
               <div class="panel">
                   <p>Lorem ipsum...</p>
               </div>

               <button class="accordion">자격증</button>
               <div class="panel">
                   <p>Lorem ipsum...</p>
               </div>

               <button class="accordion">희망하는 연락방법</button>
               <div class="panel">
                   <p>Lorem ipsum...</p>
               </div>

           </section>
			<!-- 
                     <section id="three">
                     </section>
                      -->
           <!--
           <section id="four">
               <h2 class="shareTech">Section 4</h2>
               <p>
                   If you're rendering trigger id elements dynamically it's best to make sure that you're setting the height of the element as well; particularly if the element height is small.
               </p>
           </section>
           -->
       </div>
       <!-- 섹션 끝 -->
       </div>
       <!-- row 끝 --> 
    </div>
	<!-- 본문입력 끝  -->			
	</div>
	<div class="col-sm-2 sidenav"></div>
	</div>
</div>
<div id="footer"></div>
</body>
<script>

	$(function(){
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	});

	/* 포트폴리오 부분 학력에추가버튼 누를때 */
    function add_item() {
        // pre_set 에 있는 내용을 읽어와서 처리..
        var div = document.createElement('div');
        div.innerHTML = document.getElementById('pre_set').innerHTML;
        document.getElementById('field').appendChild(div);
    }
    /* 포트폴리오 부분 학력에추가버튼 누를때 끝*/
    
    /* 포트폴리오 부분 학력추가란에 삭제 버튼 */
    function remove_item(obj) {
        // obj.parentNode 를 이용하여 삭제
        document.getElementById('field').removeChild(obj.parentNode);
    }
    /* 포트폴리오 부분 학력추가란에 삭제 버튼 끝*/
    
    /* 플러스 버튼 누르면 아코디언 발생 */
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
    /* 플러스 버튼 누르면 아코디언 발생 끝*/
    
	//trigger이벤트 시작
	$(document).on('frameComplete',function(event){
		
		$('#unm').text(user.unm);
		//등록버튼시 이벤트 시작
        $('#join').click(function () {
	 
         console.log('{"uenm":"' +$("#uenm").val() 
        		 	+'","ubd":"'+$("#ubd").val()
	           		+'","usx":"'+$("#usx").val()
	           		+'","upho":"'+$("#uphone").val()
	           		+'","uurl":"'+$("#uurl").val()
	           		+'","uadr":"'+$("#uadr").val()
	           		+'","uno":"'+user.uno+'"}')
         
	      $.ajax({
                url: contextRoot+"/developer/addInfo"
                , method: "POST"
                , dataType: "json"
                , data: 
                	'{"uenm":"' +$("#uenm").val() 
        		 	+'","ubd":"'+$("#ubd").val()
	           		+'","usx":"'+$("#usx").val()
	           		+'","upho":"'+$("#uphone").val()
	           		+'","uurl":"'+$("#uurl").val()
	           		+'","uadr":"'+$("#uadr").val()
	           		+'","uno":"'+user.uno+'"}'
                , headers: {
                      "Accept": "application/json"
                    , "Content-Type": "application/json"
                },
                beforeSend : addLoading,
        		complete : removeLoading,
                success: function (data) {
                	console.log(data);
               		console.log(data.cpjno);
                     /* callModal('프로젝트등록','등록완료',contextRoot+"/company/addProjectView?cpjno="+data.cpjno); */
               		callModal('프로젝트등록','등록완료',contextRoot+ "/view/common/login/frame.html");
                }
            }); 
        });	//등록버튼시 이벤트 끝

	});	//trigger 이벤트 끝
</script>

</html>