<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- jqplot cdn -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/plugins/jqplot.pointLabels.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css" />
    <!-- jqplot cdn end-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
    <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <!-- add cdn start-->
    <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <!-- add cdn end-->
    <link href='http://fonts.googleapis.com/css?family=Share+Tech&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
	<link rel="stylesheet" href="/view/common/login/css/frame.css">
    <link href="/view/common/login/css/freelancer.css" rel="stylesheet">
    <!-- 다음api cdn -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
    <script src="//apis.daum.net/maps/maps3.js?apikey=6e12305b1ecb1155af86b871c9f5cdb9&libraries=services"></script>
    <!-- 태그입력 -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
	
	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
<style>
.inner-sidenav {
	margin-bottom: -99997px;
	padding-bottom: 99999px;
	background-color: #f1f1f1;
}

.ui-autocomplete {
	z-index: 2147483647;
}
<style>
.inner-sidenav {
	margin-bottom: -99997px;
	padding-bottom: 99999px;
	background-color: #f1f1f1;
}
<style>
.inner-sidenav {
	margin-bottom: -99997px;
	padding-bottom: 99999px;
	background-color: #f1f1f1;
}

.ui-autocomplete {
	z-index: 2147483647;
}

.thumbnail {
	display: inline-block;
}

.ui-autocomplete {
	z-index: 2147483647;
}

.thumbnail {
	display: inline-block;
}

.thumbnail {
	display: inline-block;
}

a {
	cursor: pointer;
}
</style>
</head>

<body>
<div id="header"></div>
<!--본문 시작-->
  <div class="container-fluid text-center">
	<div class="row content">
	<div class="col-sm-2 sidenav"></div>
	<div class="col-md-8 text-left" style="padding:0px;">

	<!-- 본문입력란 -->
	<!-- <div class="container"> -->
		<!-- row 시작 -->
        <!-- <div class="row"> -->
		<div class="col-md-1 inner-sidenav"></div>
         <div class="col-md-10 main" style="background-color: #f1f1f1;margin-bottom: -99997px;padding-bottom: 99999px;">
			<!-- 부트스트랩 탭 네비게이션 적용 시작 -->
			<div role="tabpanel">
			  <!-- 상단 탭 메뉴 이름들 시작 -->
			  <ul class="nav nav-tabs" role="tablist" style="background-color: white;">
			    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="pill">개인신상</a></li>
			    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="pill">포트폴리오</a></li>
			  </ul>
			  <!-- 상단 탭 메뉴 이름들 끝 -->
			  
			<!-- 탭 안의 내용들 시작  -->  
		    <div class="tab-content">
		    <!-- 첫번째 탭(개인신상) 내용 시작 -->
			 <div role="tabpanel" class="tab-pane active" id="home">  
			<!-- 개인신상 부분 섹션 1 시작 -->			    
             <section id="one" style="padding-top:2em; padding-bottom: 2em; padding-left: 3em; margin-top: 2em; border-width:5px; border-style: outset;background-color:white;">
                <h2 class="shareTech">기본정보</h2>
                신상정보를 입력하고 프로젝트 참여기회를 얻으세요!
                <div class="row" style="margin-top: 2em;">
                    <!-- 개인신상 이미지 시작 -->
                    <div class="col-xs-2">
               		 <!-- <div class="collapse" id="collapseExample"></div> -->
                        <div class="fileinput fileinput-new" data-provides="fileinput" style="width:100%;">
                            <!--오른쪽 테이블과의 수평 맞춤을 위한 태그로 사용되었으나 필요 없어서 주석 처리함 - 오병소(160405- UI작업)-->
                            <!-- <div style="height:15px"></div>-->
                            <div class="fileinput-new thumbnail" style="width:120px;height:160px;">
                                <img id="userPhoto" alt="파일 용량 1MB 이하 3.5cm X 4.5cm jpg, gif 파일만 가능 (6개월 내 찍은 사진)" style="width:120px;height:100%; vertical-align: center;">
                           </div>
                           <div style="width:120px;">
                               <div class="btn btn-default btn-file" style="width:100%;">
                               		<span class="fileinput-new" >사진 수정하기</span>
	                               	<input type="file" id="uploadPhoto">
                               </div>
                           </div>
                       </div>
                   </div> <!-- 개인신상 이미지 끝 -->
                   <!-- 개인신상 세부내용 시작 -->
                   <div class="col-md-10">
                       <table class="table table-bordered" style="width:90%;">
                           <tbody>
                               <tr>
                                   <thead>
                                       <td class="active" style="text-align: center; padding-top: 1em;" ><strong>이름</strong></td>
                                       <td class="col-md-3">
                                           <div id="nm" style="text-align: left;"></div>
                                       </td>
                                       <td class="active" style="text-align: center; padding-top: 1em;"><strong>영문</strong></td>
                                       <td class="col-md-4">
                                       	   <div id=enm style="text-align: left;"></div>
                                          <!--  <input class="form-control" type="text" id="uenm" placeholder="ex) Hong GilDong"> -->
                                       </td>
                                   </thead>
                               </tr>
                               
                               <tr>
                                   <thead>
                                       <td class="active" style="text-align: center; padding-top: 1em;"><strong>생년월일</strong></td>
                                       <td class="col-md-3">
                                       	   <div id=bd style="text-align: left;"></div>                                       
                                           <!-- <input class="form-control" type="date" id="ubd"> -->
                                       </td>
                                       <td class="active" style="text-align: center; padding-top: 1em;"><strong>성별</strong></td>
                                       <td class="col-md-4">
                                       	   <div id=sx style="text-align: left;"></div>
                                       </td>
                                   </thead>
                               </tr>
                               <tr>
                                   <thead>
                                       <td class="active" style="width: 20%; text-align: center; padding-top: 1em;"><strong>핸드폰 번호</strong></td>
                                       <td>
                                       	   <div id=phone style="text-align: left;"></div>  
                                       </td>
                                       <td class="active" style="text-align: center; padding-top: 1em;"><strong>주요 URL</strong></td>
                                       <td class="col-md-4">
                                       	   <div id=url style="text-align: left;"></div>
                                       </td>
                                   </thead>
                               </tr>
                               <tr>
                                   <thead>
                                       <td class="active" style="width: 20%; text-align: center; padding-top: 1em;"><strong>거주지 주소</strong></td>
                                       <td colspan="3">
                                            <div id="adr" style="text-align: left;" >
                                       </td>
                                   </thead>
                               </tr>
                               <tr>
                                   <thead>
                                       <td style="width: 20%; text-align: center; padding-top: 1em; border-right: hidden; border-left: hidden; border-bottom: hidden;"></td>
                                       <td colspan="3" style="border-right: hidden; border-bottom: hidden;">
                                       	   <div style="text-align: right;">
												<a type="button" class="btn btn-danger" id="profileUpdate">수정</a>                                       	   
                                       	   </div>
                                       </td>
                                   </thead>
                               </tr>                               
                           </tbody>
                       </table><!-- 섹션1 개인신상정보에 대한 테이블 끝  -->     					                
                   </div><!-- 개인신상 세부내용 끝 -->
               </div>
           </section><!-- 섹션1 끝 -->
           
           <section id="two" style="padding-top:2em; padding-bottom: 2em; padding-left: 3em; margin-top: 2em; border-width:5px; border-style: outset; background-color:white;">
			 <h2 class="shareTech">간단 자기소개</h2>
                자기소개로 열정을 표현해보세요!
                <div class="row" style="margin-top: 2em;">
                    	<div class="col-md-11">
						    <textarea placeholder="자기소개는 간단히 작성해주시기 바랍니다." class="form-control" rows="10" id="ures"  
						  			  style="background-color: #fdf5e6; text-align: left;">
						    </textarea>
						  	<div style="text-align: right; margin-top: 1em;">
						  		<a type="button" class="btn btn-danger" id="updateUres">확인</a>
						  	</div>
						</div>
                </div>
           </section>
			
           <!--섹션 1 끝-->			    
	       </div>
	       <!-- 첫번째 탭(개인신상 내용 끝 -->
	       
	       <!-- 두번째 탭(포트폴리오) 내용 시작 -->
		   <div role="tabpanel" class="tab-pane" id="profile">
           
           <!--섹션 2 시작-->
			<section id="portfolio" style="margin-top: 2em; margin-bottom: 2em; border-width:5px; border-style: outset; background-color:white;">
	            <div class="row" style="padding-top:2em; padding-left: 3em;" >
	                <div class="col-lg-12">
	                    <h2>Portfolio</h2>
	                    포트폴리오를 작성하고 관리하세요!
	                    <br>
	                </div>
	            </div>
            <div class="row" style="padding-top:2em;">
            <div class="col-md-1"></div>
            <div class="col-md-10">

             <!-- portfolio 부분 첫번째 줄 시작 -->
              <div class="col-md-12">
	                <div class="col-md-4 portfolio-item" >
	                    <a id="portfolio1" class="portfolio-link">
	                    	<!-- 이미지에 마우스 올릴때 아래의 색상 -->
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">노출태그</i>
	                            </div>
	                        </div>
	                        <!-- 이미지에 마우스 올릴때 색상 끝 -->
	                        <img src="img/portfolio/cabin.png" class="img-responsive" alt="">
	                    </a>
	                </div>
	                <div class="col-md-4 portfolio-item">
	                    <a id="portfolio2" class="portfolio-link">
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">학력</i>
	                            </div>
	                        </div>
	                        <img src="img/portfolio/cake.png" class="img-responsive" alt="">
	                    </a>
	                </div>
	                <div class="col-md-4 portfolio-item" >
	                    <a id="portfolio3" class="portfolio-link">
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">경력</i>
	                            </div>
	                        </div>
	                        <img src="img/portfolio/circus.png" class="img-responsive" alt="">
	                    </a>
	                </div>
                </div>
                <!-- portfolio 부분 첫번째 줄 끝 -->
                
                <!-- portfolio 부분 두번째줄 시작 -->
                <div class="col-md-12" style="margin-bottom: 2em;">
	                <div class="col-md-4 portfolio-item">
	                    <a id="portfolio4" class="portfolio-link"> 
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">보유기술</i>
	                            </div>
	                        </div>
	                        <img src="img/portfolio/game.png" class="img-responsive" alt="">
	                    </a>
	                </div>
	                <div class="col-md-4 portfolio-item">
	                    <a id="portfolio5" class="portfolio-link">
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">외국어 및 자격증</i>
	                            </div>
	                        </div>
	                        <img src="img/portfolio/safe.png" class="img-responsive" alt="">
	                    </a>
	                </div>
	                <div class="col-md-4 portfolio-item">
	                    <!-- <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal"> -->
	                    <a id="portfolio6" data-toggle="modal" data-target="#portfolioModal6" class="portfolio-link">
	                        <div class="caption">
	                            <div class="caption-content">
	                                <i class="fa fa-search-plus fa-3x">포트폴리오</i>
	                            </div>
	                        </div>
	                        <img src="img/portfolio/submarine.png" class="img-responsive" alt="">
	                    </a>
	                </div>
                </div>
             
                
            </div>
            <div class="col-md-1"></div>
            </div>
		</section>
		</div> <!-- 두번째 탭(포트폴리오) 내용 끝  -->
	  </div><!-- 탭 안의 내용들 끝 -->  
	 </div><!-- tabpanel 끝 -->
     </div>
     <!-- 섹션 끝 -->
     <div class="col-md-1 inner-sidenav"></div>     
     <!-- row 끝 -->
	<!-- 본문입력 끝  -->	
	
	<!-- 탭별 모달창 총 집합 시작 -->
			<!-- 개인정보 수정 Modal 시작 -->
			<div class="modal fade" id="myprofileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">
			    
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
			        <span aria-hidden="true" >x</span></button>
			        <h4 class="modal-title" id="myModalLabel" align="left" >
			        <b>개인정보 수정</b></h4>
			      </div>
			      <!-- 모달내용 -->
			      <div class="modal-body">
			    	<div class="row">
			
			      <!-- edit form column -->
			      <div class="col-md-12 col-md-offset-1" >
			      	<table style="border-collapse: collapse; ">
			      	<tr>
			      		<td class="col-md-2">
				      		영문이름
			      		</td>
			      		<td class="col-md-6">
			      			<input class="form-control" type="text" id="uenm" placeholder="ex) BaekSeungHyun"style="width: 70%;">
			      		</td>
			      	</tr>
			      	<tr>
			      		<td class="col-md-2">
			      			생년월일
			      		</td>
			      		<td class="col-sm-3" style="padding-top: 1em;">
			      			<input class="form-control" type="date" id="ubd" style="width: 70%;">
			      		</td>
			      	</tr>
			      	<tr>
			      		<td class="col-md-2">
			      			성별
			      		</td>
			      		<td class="col-sm-3" style="padding-top: 1em;">
							<select class="form-control" id="usx" style="width: 30%;">
                              <option>남성</option>
                              <option>여성</option>
                            </select>			      		
                        </td>
			      	</tr>
			      	<tr>
			      		<td class="col-md-2">
			      			핸드폰 번호
			      		</td>
			      		<td class="col-sm-3" style="padding-top: 1em;">
			        		<input class="form-control" type="text" id="uphone" placeholder="ex) 010-3333-4444" style="width: 70%;">		      		
                        </td>
			      	</tr>
			      	<tr>
			      		<td class="col-md-2">
			      			주요 URL
			      		</td>
			      		<td class="col-sm-3" style="padding-top: 1em;">
                            <input class="form-control" type="text" id="uurl" placeholder="ex)www.github.com/Yimkm" style="width: 70%;">
                        </td>
			      	 </tr>
			      	
                     <tr>
                         <td class="col-md-2">
                            거주지 주소
                         </td>
                         <td class="col-sm-3" style="padding-top: 1em;">
                              <input type="text" id="sample4_postcode" style="margin-right: 1em;" placeholder="우편번호">
                              <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
						      <input type="text" id="sample4_roadAddress" style="width: 70%; margin-top: 1em;"  placeholder="도로명/지번 주소">
							  <input type="text" id="detail_address" style="width: 70%;" placeholder="상세주소">
							  <span id="guide" style="color:#999"></span>
                         </td>
                      </tr>
			      	
			      	</table>
			      </div>
			  </div>
			 </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
			        <button type="button" class="btn btn-orange userInfoUpdate" id="join">저장</button>
			      </div>
			    </div>
			  </div>
			</div>    
		   <!-- 개인정보 수정 Modal 끝 -->
		   
			<!-- portfolio 부분 클릭시 modal fade 시작 -->	
			<!-- Portfolio Modals -->
			
    		<!-- 첫번째 tag modal 시작 -->
   			<!-- 노출태그 입력 Modal 시작 -->
			<div class="modal fade" style="width: auto;" id="pfModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">
			    
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
			        <span aria-hidden="true" >x</span></button>
			        <h4 class="modal-title" id="myModalLabel" align="left" >
			        <b>노출태그</b>
			        </h4>
			      </div>
			      <!-- 모달내용 -->
			      <div class="modal-body">
			    	<div class="row">
					
			      <!-- edit form column -->
			      <div class="col-md-10 col-md-offset-2" >
			      	<table style="border-collapse: collapse; ">
				      	<tr>
				      		<td class="col-md-2">
				      			<div>  
									<input id="uextg" type="text" class="tags"/>
									<button style="margin-top: 1em; margin-bottom: 1em;">태그 등록</button>
	                 			</div>
				      		</td>
				      	</tr>
				      	<tr>
				      	<td class="col-md-2">
				         ✓ 나를 표현하고싶은 것이 있다면 무엇이든지 태그하세요!
				      	</td>
				      	</tr>
			      	</table>
			      </div>
			  </div>
			 </div>
			      <div class="modal-footer">	
		            <button type="button" class="btn btn-default" data-dismiss="modal"> 닫기</button>
			        <button id="addTags" type="submit" class="btn btn-default">저장</button>
			      </div>
			    </div>
			  </div>
			</div>    
		   <!-- 노출태그 입력 Modal 끝  -->
    
		   <!-- 두번째 tag modal 시작 -->
			<div class="modal fade" style="width: auto;" id="pfModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>학력</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal2table"></div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		    <!-- 두번째 tag modal 끝 -->
		    
		    <!-- 세번째 모달 시작 -->
		    <div class="modal fade" style="width: auto;" id="pfModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>경력</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal3table"></div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		    <!-- 세번째 모달 끝  -->
		    
		    <!-- 네번째 모달 시작 -->
		    <div class="modal fade" style="width: auto;" id="pfModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>보유기술</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal4table"></div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		    <!-- 네번째 모달 끝  -->
		
			<!-- 다섯번째 모달 시작 -->
		    <div class="modal fade" style="width: auto;" id="pfModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>외국어 및 자격증</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal5table">
					      </div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		    <!-- 다섯번째 모달 끝  -->
		    
		    <!-- 여섯번째 모달 시작 -->
		    <div class="modal fade" style="width: auto;" id="pfModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>포트폴리오</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal6table">
					      </div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		       <!-- 여섯번째 모달 끝 -->	
	       
	       

		    <div class="modal fade" style="width: auto;" id="pfModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>포트폴리오</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal6table">
					      </div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		    <div class="modal fade" style="width: auto;" id="pfModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog modal-md" role="document">    
			     <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
					        <span aria-hidden="true" >x</span></button>
					        <h4 class="modal-title" id="myModalLabel" align="left" >
					        <b>포트폴리오</b></h4>
					      </div> <!-- 모달헤더 끝  -->
					      <!-- 모달내용 -->
					      <div id="pfModal6table">
					      </div>
					      <!-- 모달내용 끝 -->
			    </div><!-- 모달 콘텐츠 끝 -->
			  </div>   
		    </div>
		       <!-- 여섯번째 모달 끝 -->			
			<!-- 탭별 모달창 총집합 끝 -->				
	</div>
	<div class="col-sm-2 sidenav"></div>
	</div>
</div>
<div id="footer"></div>
</body>
<script>
var yskills=[]; //스킬목록
	$(function() {
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	});
	
	/* 포트폴리오 부분 경력에추가버튼 누를때 */
	function add_itemM() {
		// pre_set 에 있는 내용을 읽어와서 처리..
		var div = document.createElement('div');
		div.innerHTML = document.getElementById('pre_setT').innerHTML;
		document.getElementById('fieldD').appendChild(div);
	}
	/* 포트폴리오 부분 경력에추가버튼 누를때 끝*/


	/* 포트폴리오 부분 경력추가란에 삭제 버튼 */
	function remove_itemM(obj) {
		// obj.parentNode 를 이용하여 삭제
		document.getElementById('fieldD').removeChild(obj.parentNode);
	}
	/* 포트폴리오 부분 경력추가란에 삭제 버튼 끝*/
	/* 플러스 버튼 누르면 아코디언 발생 */
	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		acc[i].onclick = function() {
			this.classList.toggle("active");
			this.nextElementSibling.classList.toggle("show");
		}
	}
	/* 플러스 버튼 누르면 아코디언 발생 끝*/

    // esc키 누르면 모달창 꺼짐 시작
    $(window).bind('keydown', function(event) {
        	if(event.keyCode === 27) {
        		$('.portfolio-modal').portfolio-modal('hide', event);
        		}
    });
    // esc키 누르면 모달창 꺼짐 끝
    
	//주소검색
	//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
	function sample4_execDaumPostcode() {
		new daum.Postcode(
				{
					oncomplete : function(data) {
						// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

						// 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
						// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
						var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
						var extraRoadAddr = ''; // 도로명 조합형 주소 변수

						// 법정동명이 있을 경우 추가한다. (법정리는 제외)
						// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
						if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
							extraRoadAddr += data.bname;
						}
						// 건물명이 있고, 공동주택일 경우 추가한다.
						if (data.buildingName !== '' && data.apartment === 'Y') {
							extraRoadAddr += (extraRoadAddr !== '' ? ', '
									+ data.buildingName : data.buildingName);
						}
						// 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
						if (extraRoadAddr !== '') {
							extraRoadAddr = ' (' + extraRoadAddr + ')';
						}
						// 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
						if (fullRoadAddr !== '') {
							fullRoadAddr += extraRoadAddr;
						}

						// 우편번호와 주소 정보를 해당 필드에 넣는다.
						document.getElementById('sample4_postcode').value = data.zonecode; //5자리 새우편번호 사용
						document.getElementById('sample4_roadAddress').value = fullRoadAddr;
						document.getElementById('sample4_jibunAddress').value = data.jibunAddress;

						// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
						if (data.autoRoadAddress) {
							//예상되는 도로명 주소에 조합형 주소를 추가한다.
							var expRoadAddr = data.autoRoadAddress
									+ extraRoadAddr;
							document.getElementById('guide').innerHTML = '(예상 도로명 주소 : '
									+ expRoadAddr + ')';

						} else if (data.autoJibunAddress) {
							var expJibunAddr = data.autoJibunAddress;
							document.getElementById('guide').innerHTML = '(예상 지번 주소 : '
									+ expJibunAddr + ')';

						} else {
							document.getElementById('guide').innerHTML = '';
						}
					}
				}).open();
	}    
	// 주소검색 js 끝
	
	$(document).on('frameComplete',function(event){
		//사진업로드
		$('#uploadPhoto').on("change",function(){
			var data = new FormData();
	        data.append('uploadFile',$('#uploadPhoto')[0].files[0]);
	        $.ajax({
				url: contextRoot+"/user/uploadPhoto",
				method : "POST",
				data : data,
	            headers : {
					"Accept" : "application/json",
				},
				beforeSend : addLoading,
				complete : removeLoading,
				processData: false,
	            contentType: false,
				success : function(data, status){
					if(data.result==1){
						/* 로그인 ajax 시작 */
						$.ajax({
							url : contextRoot + "/login",
							method : "POST",
							dataType : "json",
							data : '{"uem":"' + user.uem + '","upw":"'+ user.upw + '"}',
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							beforeSend : addLoading,
							complete : removeLoading,
							success : function(data, status) {
								callModal('알림','업로드 성공',location.href);
							}
						});
						/* 로그인 ajax 끝 */
					}else{
						callModal('알림','업로드 실패',location.href);
					}
					
				}
			});
		});
		//사진업로드 끝
		
		//사진 조회 시작
		$.ajax({
			url: contextRoot+"/user/getUserPhoto",
			method : "POST",
			data : JSON.stringify(
				{
					uno:user.uno
				}
			),
			dataType : "json",
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			beforeSend : addLoading,
			complete : removeLoading,
			success : function(data, status){
				if(data.result){
					$('#userPhoto').attr("src",data.result.phot);
				}
			}
		});
		//사진 조회 끝
		//사진업로드
		$('#uploadPhoto').on("change",function(){
			var data = new FormData();
	        data.append('uploadFile',$('#uploadPhoto')[0].files[0]);
	        $.ajax({
				url: contextRoot+"/user/uploadPhoto",
				method : "POST",
				data : data,
	            headers : {
					"Accept" : "application/json",
				},
				beforeSend : addLoading,
				complete : removeLoading,
				processData: false,
	            contentType: false,
				success : function(data, status){
					if(data.result==1){
						/* 로그인 ajax 시작 */
						$.ajax({
							url : contextRoot + "/login",
							method : "POST",
							dataType : "json",
							data : '{"uem":"' + user.uem + '","upw":"'+ user.upw + '"}',
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							beforeSend : addLoading,
							complete : removeLoading,
							success : function(data, status) {
								callModal('알림','업로드 성공',location.href);
							}
						});
						/* 로그인 ajax 끝 */
					}else{
						callModal('알림','업로드 실패',location.href);
					}
					
				}
			});
		});
		//사진업로드 끝
		
		//사진 조회 시작
		$.ajax({
			url: contextRoot+"/user/getUserPhoto",
			method : "POST",
			data : JSON.stringify(
				{
					uno:user.uno
				}
			),
			dataType : "json",
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			beforeSend : addLoading,
			complete : removeLoading,
			success : function(data, status){
				if(data.result){
					$('#userPhoto').attr("src",data.result.phot);
				}
			}
		});
		//사진 조회 끝
		//사진업로드
		$('#uploadPhoto').on("change",function(){
			var data = new FormData();
	        data.append('uploadFile',$('#uploadPhoto')[0].files[0]);
	        $.ajax({
				url: contextRoot+"/user/uploadPhoto",
				method : "POST",
				data : data,
	            headers : {
					"Accept" : "application/json",
				},
				beforeSend : addLoading,
				complete : removeLoading,
				processData: false,
	            contentType: false,
				success : function(data, status){
					if(data.result==1){
						/* 로그인 ajax 시작 */
						$.ajax({
							url : contextRoot + "/login",
							method : "POST",
							dataType : "json",
							data : '{"uem":"' + user.uem + '","upw":"'+ user.upw + '"}',
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							beforeSend : addLoading,
							complete : removeLoading,
							success : function(data, status) {
								callModal('알림','업로드 성공',location.href);
							}
						});
						/* 로그인 ajax 끝 */
					}else{
						callModal('알림','업로드 실패',location.href);
					}
					
				}
			});
		});
		//사진업로드 끝
		
		//사진 조회 시작
		$.ajax({
			url: contextRoot+"/user/getUserPhoto",
			method : "POST",
			data : JSON.stringify(
				{
					uno:user.uno
				}
			),
			dataType : "json",
			headers : {
				"Accept" : "application/json",
				"Content-Type" : "application/json"
			},
			beforeSend : addLoading,
			complete : removeLoading,
			success : function(data, status){
				if(data.result){
					$('#userPhoto').attr("src",data.result.phot);
				}
			}
		});
		//사진 조회 끝
		
		//개인신상정보에 DB정보를 넣어주기 위한 .text 시작
		$('#nm').text(user.unm);
		
		if(user.uenm == null){$('#enm').text('내용이 없습니다.');} 
		else { $('#enm').text(user.uenm); $('#uenm').val(user.uenm);}
		
		if(user.ubd == null){$('#bd').text('내용이 없습니다.');} 
		else { $('#bd').text(user.ubd); $('#ubd').val(user.ubd);}
		
		if(user.usx == null){$('#sx').text('내용이 없습니다.');} 
		else { $('#sx').text(user.usx); $('#usx').val(user.usx);}
		
		if(user.upho == null){$('#phone').text('내용이 없습니다.');} 
		else { $('#phone').text(user.upho); $('#upho').val(user.upho);}
		
		if(user.uurl == null){$('#url').text('내용이 없습니다.');} 
		else { $('#url').text(user.uurl); $('#uurl').val(user.uurl);}
		
		if(user.uadr == null){$('#adr').text('내용이 없습니다.');} 
		else { $('#adr').text(user.uadr); $('#uadr').val(user.uadr);}
		
		$('#ures').text(user.ures);	
		//개인신상정보에 DB정보를 넣어주기 위한 .text 끝
		
		// 기본정보 수정버튼 클릭시 이벤트
		$('#profileUpdate').click(function(){	
			console.log(user.uenm);
			$('#myprofileModal').modal();	
		});
		
		//등록버튼시 이벤트 시작
        $('#join').click(function () {
	 	
         console.log('{"uenm":"' +$("#uenm").val() 
        		 	+'","ubd":"'+$("#ubd").val()
	           		+'","usx":"'+$("#usx").val()
	           		+'","upho":"'+$("#uphone").val()
	           		+'","uurl":"'+$("#uurl").val()
	           		+'","uadr":"'+$("#uadr").val()
	           		+'","uno":"'+user.uno+'"}')
         
	      $.ajax({
                url: contextRoot+"/developer/addInfo"
                , method: "POST"
                , dataType: "json"
                , data: 
                	'{"uenm":"' +$("#uenm").val() 
        		 	+'","ubd":"'+$("#ubd").val()
	           		+'","usx":"'+$("#usx").val()
	           		+'","upho":"'+$("#uphone").val()
	           		+'","uurl":"'+$("#uurl").val()
	           		+'","uadr":"'+$("#sample4_roadAddress").val()+$("#detail_address").val()
	           		+'","uno":"'+user.uno+'"}'
                , headers: {
                      "Accept": "application/json"
                     ,"Content-Type": "application/json"
                },
				beforeSend : addLoading,
				complete : removeLoading,
                success: function (data) {
                	console.log(data);
               		$("#myprofileModal").modal("hide");
 					$('.modal-backdrop').remove();//modal이 사라지고나서 로그인 해야 db에 있는 정보를 가져옴
 						/* 로그인 ajax 시작 */
 						$.ajax({
 							url : contextRoot + "/login",
 							method : "POST",
 							dataType : "json",
 							data : '{"uem":"' + user.uem + '","upw":"'+ user.upw + '"}',
 							headers : {
 								"Accept" : "application/json",
 								"Content-Type" : "application/json"
 							},
 							beforeSend : addLoading,
 							complete : removeLoading,
 							success : function(data, status) {
 								console.log(data);
 								location.reload();	
 							}
 						});
 						/* 로그인 ajax 끝 */
						callModal('기본정보','수정완료');
                } //success fuction 
            }); //등록 내부 첫 ajax 끝 
        });	//등록버튼시 이벤트 끝
        
        $('#portfolio1').click(function() {
           	$.ajax({
    			url : contextRoot + "/developer/getUtag?uno="+user.uno,
    			method : "GET",
    			dataType : "json",
    			headers : {
    				"Accept" : "application/json",
    				"Content-Type" : "application/json"
    			},
    			beforeSend : addLoading,
    			complete : removeLoading,
    			success : function(data, status) {
    				console.log(data.utags);
    				console.log(data.utags.toString());
    				$('#uextg').val(data.utags.toString());
    				$('#pfModal1').modal();
    				$('#uextg').tagsInput();
    			}
    		});
        });

        $('#portfolio2').click(function(){
        	$('#pfModal2table').load('Uscls/getUscls.html', function() {
	           	$.ajax({
	    			url : contextRoot + "/developer/getUscls?uno="+user.uno,
	    			method : "GET",
	    			dataType : "json",
	    			headers : {
	    				"Accept" : "application/json",
	    				"Content-Type" : "application/json"
	    			},
	    			beforeSend : addLoading,
					complete : removeLoading,
	    			success : function(data, status) {
	    				
	    				if(data.uscls==null){
	    					$('#pfModal2table').load('Uscls/modifiedUscls.html');
	    				}else{
	    					$('#pfModal2table').load('Uscls/getUscls.html', function(){
			    				console.log(data.uscls);
			    				$('#scnm').text(data.uscls.scnm);
			    				$('#scmj').text(data.uscls.scmj);
			    				$('#scgr').text(data.uscls.scgr);
			    				$('#scsd').text(data.uscls.scsd);
			    				$('#sced').text(data.uscls.sced);
	    					});  
	    				}
	    				
		    			$('#pfModal2').modal(); 
	    			}
	    		});
        	});
        });
        
        $('#portfolio3').click(function(){

           	$.ajax({
    			url : contextRoot + "/developer/getUexps?uno="+user.uno,
    			method : "GET",
    			dataType : "json",
    			headers : {
    				"Accept" : "application/json",
    				"Content-Type" : "application/json"
    			},
    			beforeSend : addLoading,
				complete : removeLoading,
    			success : function(data, status) {
    	        	
    				if(data.uexps==null){
    					$('#pfModal3table').load('Uexps/modifiedUexps.html');
    				}else{
    					$('#pfModal3table').load('Uexps/getUexps.html', function() {
    	    				console.log(data.uexps);
    	    				$('#expcn').text(data.uexps.expcn);
    	    				$('#expdn').text(data.uexps.expdn);
    	    				$('#exped').text(data.uexps.exped);
    	    				$('#expsd').text(data.uexps.expsd);
    	    				$('#exppt').text(data.uexps.exppt);
    	    				$('#exppy').text(data.uexps.exppy);
    	    				$('#expwc').text(data.uexps.expwc);	   
    	    			});
    				}
    				$('#pfModal3').modal(); 
    			}
    		});
        }); 
        
      
        
        
        $('#portfolio4').click(function(){
           	$.ajax({
    			url : contextRoot + "/user/getUserSkills",
    			method : "POST",
    			dataType : "json",
    			data : JSON.stringify({
    				"uno" : user.uno
    			}),
    			headers : {
    				"Accept" : "application/json",
    				"Content-Type" : "application/json"
    			},
    			beforeSend : addLoading,
				complete : removeLoading,
    			success : function(data, status) {
    				yskills=data.result;
 					$('#pfModal4table').load('Uskills/Uskills.html');
 					console.log(yskills);
    				$('#pfModal4').modal();
    				$('#pfModal4').unbind('shown.bs.modal').on('shown.bs.modal', function (e) {
    					update();
     					//스킬 자동검색
    					$('#yskills').autocomplete({
    						source : function(req, res) {
    							$.ajax({
    								type : 'post',
    								url : nodeContextRoot+"/skillCheck",
    								dataType : "json",
    								data : '{"sknm" : "' + req.term + '"}',
    								headers : {
    									"Accept" : "application/json",
    									"Content-Type" : "application/json"
    								},
    								beforeSend : addLoading,
    								complete : removeLoading,
    								success : function(data) {
    									res($.map(data, function(item, i) {
    										return {
    											label : item.SKNM,
    											value : item.SKNO
    										}
    									}));
    								}
    							});
    						},
    						minLength : 1,
    						select : function(event, ui) {
    							//중복체크
    							var bool = true;
    							$.map(yskills, function(val, i) {
    								if (val.skno == ui.item.value) {
    									bool = false;
    									return;
    								}
    							});
    							event.preventDefault();
    							$('#yskills').val('');
    							if (!bool) {
    								callModal('경고', '스킬 중복입니다.');
    								return;
    							}
    							//중복체크 끝
    					        yskills.push({"sknm":ui.item.label,"skno":ui.item.value});
    					        update();
    						}
    					}).autocomplete("widget").addClass("fixed-height");
    					//스킬 자동검색 끝
   					});
 					//스킬 업데이트 트리거
 					var update = function(){
 						console.log(yskills);
 						$('#yskills-panel').empty();
 					    $.map(yskills,function(val,i){
 					    	var tag = $('<button type="button" class="btn btn-default btn-xs skillTag">');
 	 					    var delete_tag = $('<a class="delete-tag">').text('X');
 					        tag.text(val.sknm).attr('value',val.skno).append(delete_tag);
 					        $('#yskills-panel').append(tag);
 					    });
 					    $('.delete-tag').click(function(){
 					        var delete_value = $(this).parent().attr('value');
 					        $(this).parent().remove();
 					        for(var i=0;i<yskills.length;i++){
 					            if(yskills[i].skno==delete_value){
 					               yskills.splice(i,1);
 					                return;
 					           } 
 					        }
 					    });
 					}
 					//스킬 업데이트 트리거 끝
    			}
    		});
        }); 
        
        $('#portfolio4').click(function(){
           	$.ajax({
    			url : contextRoot + "/user/getUserSkills",
    			method : "POST",
    			dataType : "json",
    			data : JSON.stringify({
    				"uno" : user.uno
    			}),
    			headers : {
    				"Accept" : "application/json",
    				"Content-Type" : "application/json"
    			},
    			beforeSend : addLoading,
				complete : removeLoading,
    			success : function(data, status) {
    				yskills=data.result;
 					$('#pfModal4table').load('Uskills/Uskills.html');
 					console.log(yskills);
    				$('#pfModal4').modal();
    				$('#pfModal4').unbind('shown.bs.modal').on('shown.bs.modal', function (e) {
    					update();
     					//스킬 자동검색
    					$('#yskills').autocomplete({
    						source : function(req, res) {
    							$.ajax({
    								type : 'post',
    								url : nodeContextRoot+"/skillCheck",
    								dataType : "json",
    								data : '{"sknm" : "' + req.term + '"}',
    								headers : {
    									"Accept" : "application/json",
    									"Content-Type" : "application/json"
    								},
    								beforeSend : addLoading,
    								complete : removeLoading,
    								success : function(data) {
    									res($.map(data, function(item, i) {
    										return {
    											label : item.SKNM,
    											value : item.SKNO
    										}
    									}));
    								}
    							});
    						},
    						minLength : 1,
    						select : function(event, ui) {
    							//중복체크
    							var bool = true;
    							$.map(yskills, function(val, i) {
    								if (val.skno == ui.item.value) {
    									bool = false;
    									return;
    								}
    							});
    							event.preventDefault();
    							$('#yskills').val('');
    							if (!bool) {
    								callModal('경고', '스킬 중복입니다.');
    								return;
    							}
    							//중복체크 끝
    					        yskills.push({"sknm":ui.item.label,"skno":ui.item.value});
    					        update();
    						}
    					}).autocomplete("widget").addClass("fixed-height");
    					//스킬 자동검색 끝
   					});
 					//스킬 업데이트 트리거
 					var update = function(){
 						console.log(yskills);
 						$('#yskills-panel').empty();
 					    $.map(yskills,function(val,i){
 					    	var tag = $('<button type="button" class="btn btn-default btn-xs skillTag">');
 	 					    var delete_tag = $('<a class="delete-tag">').text('X');
 					        tag.text(val.sknm).attr('value',val.skno).append(delete_tag);
 					        $('#yskills-panel').append(tag);
 					    });
 					    $('.delete-tag').click(function(){
 					        var delete_value = $(this).parent().attr('value');
 					        $(this).parent().remove();
 					        for(var i=0;i<yskills.length;i++){
 					            if(yskills[i].skno==delete_value){
 					               yskills.splice(i,1);
 					                return;
 					           } 
 					        }
 					    });
 					}
 					//스킬 업데이트 트리거 끝
    			}
    		});
        }); 
        
        $('#portfolio4').click(function(){
           	$.ajax({
    			url : contextRoot + "/user/getUserSkills",
    			method : "POST",
    			dataType : "json",
    			data : JSON.stringify({
    				"uno" : user.uno
    			}),
    			headers : {
    				"Accept" : "application/json",
    				"Content-Type" : "application/json"
    			},
    			beforeSend : addLoading,
				complete : removeLoading,
    			success : function(data, status) {
    				yskills=data.result;
 					$('#pfModal4table').load('Uskills/Uskills.html');
 					console.log(yskills);
    				$('#pfModal4').modal();
    				$('#pfModal4').unbind('shown.bs.modal').on('shown.bs.modal', function (e) {
    					update();
     					//스킬 자동검색
    					$('#yskills').autocomplete({
    						source : function(req, res) {
    							$.ajax({
    								type : 'post',
    								url : nodeContextRoot+"/skillCheck",
    								dataType : "json",
    								data : '{"sknm" : "' + req.term + '"}',
    								headers : {
    									"Accept" : "application/json",
    									"Content-Type" : "application/json"
    								},
    								beforeSend : addLoading,
    								complete : removeLoading,
    								success : function(data) {
    									res($.map(data, function(item, i) {
    										return {
    											label : item.SKNM,
    											value : item.SKNO
    										}
    									}));
    								}
    							});
    						},
    						minLength : 1,
    						select : function(event, ui) {
    							//중복체크
    							var bool = true;
    							$.map(yskills, function(val, i) {
    								if (val.skno == ui.item.value) {
    									bool = false;
    									return;
    								}
    							});
    							event.preventDefault();
    							$('#yskills').val('');
    							if (!bool) {
    								callModal('경고', '스킬 중복입니다.');
    								return;
    							}
    							//중복체크 끝
    					        yskills.push({"sknm":ui.item.label,"skno":ui.item.value});
    					        update();
    						}
    					}).autocomplete("widget").addClass("fixed-height");
    					//스킬 자동검색 끝
   					});
 					//스킬 업데이트 트리거
 					var update = function(){
 						console.log(yskills);
 						$('#yskills-panel').empty();
 					    $.map(yskills,function(val,i){
 					    	var tag = $('<button type="button" class="btn btn-default btn-xs skillTag">');
 	 					    var delete_tag = $('<a class="delete-tag">').text('X');
 					        tag.text(val.sknm).attr('value',val.skno).append(delete_tag);
 					        $('#yskills-panel').append(tag);
 					    });
 					    $('.delete-tag').click(function(){
 					        var delete_value = $(this).parent().attr('value');
 					        $(this).parent().remove();
 					        for(var i=0;i<yskills.length;i++){
 					            if(yskills[i].skno==delete_value){
 					               yskills.splice(i,1);
 					                return;
 					           } 
 					        }
 					    });
 					}
 					//스킬 업데이트 트리거 끝
    			}
    		});
        }); 
        
		
        $('#portfolio5').click(function(){

	        	$('#pfModal5table').load('Ulans/getUlans.html', function() {
		           	$.ajax({
		    			url : contextRoot + "/developer/getUlans?uno="+user.uno,
		    			method : "GET",
		    			dataType : "json",
		    			headers : {
		    				"Accept" : "application/json",
		    				"Content-Type" : "application/json"
		    			},
		    			beforeSend : addLoading,
						complete : removeLoading,
		    			success : function(data, status) {
		    				console.log(data);
		    				console.log(data.ulans);
		    				
		    				if(data.ucerts==null && data.ulans==null){// 자격증과 외국어가 없을때
		    					$('#pfModal5table').load('Ucerlans.html');
		    				} else if (data.ucerts==null){//자격증만 없을때
		    					console.log(data.ulans)
		    					$('#pfModal5table').load('Ucerts/addUcerts.html', function(){
			    					$('#lgnm').text(data.ulans.lgnm);
				    				$('#lglvl').text(data.ulans.lglvl);
		    					});
		    				} else if (data.ulans==null){// 외국어만 없을때
		    					$('#pfModal5table').load('Ulans/addUlans.html', function(){
				    				$('#ctnm').text(data.ucerts.ctnm);  
				    				$('#ctag').text(data.ucerts.ctag);  
				    				$('#ctuqno').text(data.ucerts.ctuqno);  
				    				$('#ctsc').text(data.ucerts.ctsc);
				    				$('#ctgrd').text(data.ucerts.ctgrd);
				    				$('#cturl').text(data.ucerts.cturl);  
				    				$('#ctdy').text(data.ucerts.ctdy);  
				    				$('#ctsd').text(data.ucerts.ctsd);  
				    				$('#cted').text(data.ucerts.cted);  
		    					});
		    					
		    				} else {//둘다 있을때
				    				$('#lgnm').text(data.ulans.lgnm);
				    				$('#lglvl').text(data.ulans.lglvl);  
				    				$('#ctnm').text(data.ucerts.ctnm);  
				    				$('#ctag').text(data.ucerts.ctag);  
				    				$('#ctuqno').text(data.ucerts.ctuqno);  
				    				$('#ctsc').text(data.ucerts.ctsc);
				    				$('#ctgrd').text(data.ucerts.ctgrd);
				    				$('#cturl').text(data.ucerts.cturl);  
				    				$('#ctdy').text(data.ucerts.ctdy);  
				    				$('#ctsd').text(data.ucerts.ctsd);  
				    				$('#cted').text(data.ucerts.cted);  
		    				} 
		    				
		    				$('#pfModal5').modal();
		    			}
		    		});
	        	});
        });
    	//포트폴리오 썸네일 추가
    	var addThumbnail = function(UPFURL){
    	    var thumbUrl = "https://api.thumbalizr.com/?url="+UPFURL.url+"&amp;encoding=jpg&amp;api_key=&amp;quality=90&amp;mode=screen&amp;w=250";
    	    var img = $('<img>').attr("src",thumbUrl);
    	    var thumbnail = $('<a class="thumbnail">').attr("value",UPFURL.upfurlno).append(img).click(function(e){
    	        e.preventDefault();
    	        window.open("http://"+UPFURL.url);
    	    });
    	    var deleteBtn = $('<button class="close urlclose" type="button">').append($('<span>').text('×'));
    	    thumbnail.prepend(deleteBtn);
    	    $('#urlthumbnail').append(thumbnail);
    	};
    	//포트폴리오 썸네일 추가 끝

    	//포트폴리오 url 추가했을때마다 이벤트 바인딩
    	var reload = function(){
    	  $('.urlclose').click(function(e){
    	      e.stopPropagation();
    	      var thumbnail = $(this).parent();
    	      $.ajax({
    	            url : "http://t1.java78.com:8080/user/deleteUserPfUrl",
    	            method : "POST",
    	            dataType : "json",
    	            beforeSend : addLoading,
    				complete : removeLoading,
    	            headers : {
    	                "Accept" : "application/json",
    	                "Content-Type" : "application/json"
    	            },
    	            data:JSON.stringify({
    	               upfurlno : thumbnail.attr("value")
    	            }),
    	            success : function(data, status) {
    	                thumbnail.remove();
    	            }
    	      })
    	  })
    	};
    	//포트폴리오 url 추가했을때마다 이벤트 바인딩 끝
        $('#portfolio6').click(function(){
        	$.ajax({
        	    url : contextRoot+"/user/getUserPfUrlList",
        	    method : "POST",
        	    dataType : "json",
        	    headers : {
        	        "Accept" : "application/json",
        	        "Content-Type" : "application/json"
        	    },
        	    data:JSON.stringify({
        	       uno:user.uno
        	    }),
        	    beforeSend : addLoading,
				complete : removeLoading,
        	    success : function(data, status) {
        	    	$('#pfModal6table').empty();
        	    	$('#pfModal6table').load('Upfurl/Upfurl.html');
        	    	$('#pfModal6').unbind('shown.bs.modal').on('shown.bs.modal', function (e) {
        	    		$('#urlthumbnail').imagesLoaded().always(function(instance){
        	    			console.log('finish');
        	    		});
        	    		console.log(data.result);
        	    		$.map(data.result,function(val,i){
            	            console.log(val);
            	            addThumbnail(val);
            	        });
            	        reload();
       	    		});
        	    	$('#pfModal6').modal(); 
        	    }
        	});
        }); 
        
      	//노출태그 등록 이벤트 시작
		$('#addTags').click(function() {
			
			var map = {};
			
			map.uno = user.uno;
			map.uextg = $("#uextg").val().split(",");
			
			console.log(map);
			console.log($("#uextg").val().split(","));
	
			console.log(user.uno);
			
			console.log(JSON.stringify($("#uextg").val().split(",")));
			
			$.ajax({
				url : contextRoot + "/developer/uTags",
				method : "POST",
				dataType : "json",
				data : JSON.stringify(map),
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				beforeSend : addLoading,
				complete : removeLoading,
				success : function() {
	           		$("#pfModal1").modal("hide");//modal이 사라지고나서 로그인 해야 db에 있는 정보를 가져옴
 					callModal('노출태그','등록완료!');
				}
			});
		}); 
		//노출태그 등록 이벤트 끝
		
		// 간단 자기소개 작성 이벤트 시작
		$('#updateUres').click(function(){
			var uresData ={};
			uresData.ures = $("#ures").val();
			uresData.uno = user.uno;
			console.log(uresData);
			$.ajax({
				url : contextRoot+"/developer/updateUres",
				method : "POST",
				dataType : "json",
				data : JSON.stringify(uresData),
				beforeSend : addLoading,
				complete : removeLoading,
				headers : {
					"Accept" : "application/json",
					"Content-Type" : "application/json"
				},
				success : function() {
					/* 로그인 ajax 시작 */
						$.ajax({
							url : contextRoot + "/login",
							method : "POST",
							dataType : "json",
							data : '{"uem":"' + user.uem + '","upw":"'+ user.upw + '"}',
							headers : {
								"Accept" : "application/json",
								"Content-Type" : "application/json"
							},
							beforeSend : addLoading,
							complete : removeLoading,
							success : function(data, status) {
								callModal('등록완료','자기소개서 작성을 완료하였습니다.',contextRoot+"/view/developer/addInfo/addInfo.html");
							}
						});
					/* 로그인 ajax 끝 */
				}
			});
		});
		// 간단 자기소개 작성 끝
		
		
	});
</script>

</html>