<div class="col-md-4">
  <table class="table jumbotron" style="width: 100%; text-align: center;">
	<thead>
		<tr>
			<td colspan="2" style="padding-left: 1em; padding-right: 1em; text-align: center;">
				<span class="glyphicon glyphicon-th-large" style="color: skyblue; font-size: 2em;"></span><br>
			</td>
		</tr>
	</thead>
		<tr>
			<!-- 긴 문장의 처리를 위해 overflow를 입힘 -->
			<td class="cpjnm" colspan="2" style="max-width: 0; border-top: hidden; text-overflow : ellipsis;
												 overflow: hidden; white-space:nowrap;">
			</td>
		</tr>
		<tr>
			<td>
				<div class="leftCondition">
					<div><small>급여</small></div>
					<strong><span class="cpjmAvg"></span>만원</strong>
				</div>
			</td>
			<td>
				<div>
					<div><small>진행기간</small></div>
					<strong><span class="cpjDuration"> </span>일</strong>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="leftCondition">
					<div><small>근무형태</small></div>
					<strong class="cpjwt"> </strong>
				</div>
			</td>
			<td>
				<div>
					<div><small>요구 경력</small></div>
					<strong><span class="cpjyr"> </span>년 이상</strong>
				</div>
			</td>
		</tr>
  </table>	
</div>

<script>
$('.jumbotron').css( 'cursor', 'pointer');
</script>