<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/view/common/login/css/frame.css">
</head>
<body>
	<div id="header"></div>
	<!--본문 시작-->
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-2 sidenav"></div>
			<div class="col-md-8 text-left main">
			<!-- 탭바 메뉴 -->
				<ul class="nav nav-pills">
					<li ><a data-toggle="pill" href="springjobs.html" onclick="location.href='springjobs.html';">SpringJobs소개</a></li>
					<li> <a data-toggle="pill" href="FAQ.html" onclick="location.href='FAQ.html';">기업 FAQ</a></li>
					<li> <a data-toggle="pill" href="FAQ2.html" onclick="location.href='FAQ2.html';">프리랜서 FAQ</a></li>
				</ul><hr>
				<!-- 끝 -->
			<!-- 프리랜서 FAQ시작 -->
		
		
		<h2><strong>프리랜서 FAQ</strong></h2><br>
		<!-- accordion시작 -->
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							프로젝트 완료시 대금은 언제 지금되냐요?
							</a>						
						</h4>					
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabapanel" aria-labelledby= "headingOne">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
							프로젝트는 어떻게 진행되나요?
							</a>						
						</h4>					
					</div>
					<div id="collapseTwo" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingTwo">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
							선입금으로 계약금액을 먼저 받을수 있나요
							</a>						
						</h4>					
					</div>
					<div id="collapseThree" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingThree">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
							팀이나 법인사업자도 참여가 가능한가요?
							</a>						
						</h4>					
					</div>
					<div id="collapseFour" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingFour">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
							대체로 프로젝트 금액이 낮은 것 같습니다.
							</a>						
						</h4>					
					</div>
					<div id="collapseFive" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingFive">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
							프로젝트를 진행하고 싶습니다. 어떤절차가 필요하나요?
							</a>						
						</h4>					
					</div>
					<div id="collapseSix" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingSix">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
							프로젝트 진행시 비용은 얼마인가요?
							</a>						
						</h4>					
					</div>
					<div id="collapseSeven" class="panel-collapse collapse " role="tabapanel" aria-labelledby= "headingSeven">
						<div class="panel-body">
						외주 프로젝트진행시 가장 문제가 되는것이 프로젝트 대금관계입니다.
						대금을 지급하고도 제대로된 결과물을 못받을 경우도 있고 결과물을 다 만들어놓고 대금을 못받는 프리랜서도 있습니다. 
						그리고 양측 협의가 되지않은 부분이나, 누락된 부분에 대한 분쟁거리 해결의 실마리를 찾지 못하는 경우도 있습니다. 
						이러한 모든 과정을 제3자입장에서 "프리모아에스크로 [대금보호]" , "중재" 의 역할을 하는 것입니다.						
						</div>					
					</div>				
				</div>				
				</div>
				<!-- accordion끝 -->
			<!-- 프리랜서 관련 FAQ끝 -->						
			</div>
			<div class="col-sm-2 sidenav"></div>
		</div>
	</div>
	<div id="footer"></div>
</body>
<script>
	$(function(){
		$('#header').load('/view/common/login/frameHeader.html');
		$('#footer').load('/view/common/login/frameFooter.html');
	})
</script>
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
</html>